@(passForm: Form[ChangePasswordForm], userList:Seq[User])(implicit request: RequestHeader, messages: Messages, user: User, flash: Flash)

@import controllers.routes
@import helper._


<!DOCTYPE html>
<html lang="ja">
<head>
    @templates.htmlHead(title = Messages("lang.cms.placeManage.changePassword.title"))
    <link rel="stylesheet" href="@routes.MyAssets.css("cms/carManage.css")"/>
    <script type="text/javascript" src='@routes.MyAssets.lib("jquery.tablefix_1.0.1.js")'></script>
    <script type="text/javascript">
        $(function(){
            $("form input[type='radio']").each( function(i, elem) {
                $(elem).prop("checked", false);
                $(elem).on('click', function(event) {
                    $("form input[type='radio']").each( function(i2, elem2) {
                        $(elem2).prop("checked", false);
                    });
                    $("#" + event.target.id).prop("checked", true);
                });
            });
            $("#passwordChangeBtn").on('click', function(event) {
                $("form input[type='radio']:checked").parents("form").each( function(i, elem) {
                    $("#submitModal").modal();
                });
            });
            $("#passwordSubmit").on('click', function(event) {
                $("form input[type='radio']:checked").parents("form").each( function(i, elem) {
                    $(elem).submit();
                });
            });
        });
    </script>
</head>
<body>
<!-- content -->
    <div class="container">
        <!-- ナビバー  -->
        @views.html.templates.navBar()
        <div class="row" style="margin-top: 50px;">
            <!-- メイン -->
            <div class="col-lg-12 mainSpace">
                <!-- メッセージ -->
                @views.html.templates.msgDiv()
                <!-- 画面題字 -->
                <div class="form-group" style="font-weight:bold;font-size:19px;margin:15px 0px;">
                    @Messages("lang.cms.placeManage.changePassword.page.title")
                </div>
                <!-- テーブルのROW -->
                <div class="row tableRow">
                    <div class="text-left col-xs-3 col-sm-1 col-md-3" style="padding:0;"></div>
                    <div class="text-left col-xs-6 col-sm-10 col-md-6" style="padding:0;">
                        @if(flash.get("success").getOrElse("") != "") {
                            <div class="alert alert-info"><i class="fa fa-info-circle"></i>&nbsp;
                                @flash.get("success")
                            </div>
                        }
                        @if(passForm.hasErrors) {
                            <div class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i>&nbsp;
                                @Messages("error.changePassword.update")
                                @for(error <- passForm("").errors) {
                                    <p class="error">@Messages(error.message)</p>
                                }
                                @for(error <- passForm("currentPassword").errors) {

                                    <p class="error">@Messages("error.changePassword.currentPassword." + error.message)</p>
                                }
                                @for(error <- passForm("newPassword1").errors) {
                                    <p class="error">@Messages("error.changePassword.newPassword1." + error.message)</p>
                                }
                                @for(error <- passForm("newPassword1").errors) {
                                    <p class="error">@Messages("error.changePassword.newPassword2." + error.message)</p>
                                }
                            </div>
                        }
                        @for(user <- userList){
                            <form id="passForm@{user.id}" enctype="multipart/form-data" class="form-horizontal" method="post" action="@routes.Auth.handleChangePassword.path">
                                <div class="table-responsive-body">
                                    <table class="table table-bordered table-condensed itemTable" style="width:300px">
                                        <thead>
                                            <tr class="rowColor rowHover">
                                                <th class="tableTitleTh text-left" style="width:120px;text-align:left">
                                                    <input id="radioSelect@{user.id}" type="radio" name="userId"/>
                                                    <label for="radioSelect@{user.id}">@user.name</label>
                                                </th>
                                                <th class="tableTitleTh text-left" style="width:180px;text-align:left">@user.email</th>
                                                <input name="email" type="hidden" value="@{user.email}"/>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="rowColor rowHover">
                                                <td class="tableTh text-left" style="text-align:left">@Messages("lang.cms.placeManage.changePassword.label.currentPassword")</td>
                                                <td class="tableTh text-left" style="text-align:left"><input type="password" name="currentPassword" maxlength="60" length="16" value="" /></td>
                                            </tr>
                                            <tr class="rowColor rowHover">
                                                <td class="tableTh text-left" style="text-align:left">@Messages("lang.cms.placeManage.changePassword.label.newPassword1")</td>
                                                <td class="tableTh text-left" style="text-align:left"><input type="password" name="newPassword1" maxlength="60" length="16" value="" /></td>
                                            </tr>
                                            <tr class="rowColor rowHover">
                                                <td class="tableTh text-left" style="text-align:left">@Messages("lang.cms.placeManage.changePassword.label.newPassword2")</td>
                                                <td class="tableTh text-left" style="text-align:left"><input type="password" name="newPassword2" maxlength="60" length="16" value="" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                @CSRF.formField
                            </form>
                            <div style="height:10px"></div>
                        }
                    </div>
                    <div class="text-center col-xs-3 col-sm-1 col-md-3" style="padding:0;"></div>
                </div>
                <!-- ボタン-->
                <div class="row tableRow" style="margin-top: 10px;">
                    <div class="text-center col-xs-4 col-sm-4 col-md-4" style="padding:0;"></div>
                    <div class="text-center col-xs-4 col-sm-4 col-md-4" style="padding:0;">
                        <a id="passwordChangeBtn" class="btn link">@Messages("lang.cms.placeManage.changePassword.button.title")</a>
                    </div>
                    <div class="text-center col-xs-4 col-sm-4 col-md-4" style="padding:0;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="inputModalLabel" aria-hidden="true" data-show="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="">@Messages("lang.cms.placeManage.changePassword.popup.name")</div>
                <div class="modal-footer">
                    <div class="col-xs-6 text-center">
                        <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("cancel")</button>
                    </div>
                    <div class="col-xs-6 text-center">
                        <button id="passwordSubmit" type="submit" class="text-center btn btn-primary">@Messages("update")</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
</html>
