@(passForm: Form[ChangePassword2Form])(implicit request: RequestHeader, messages: Messages, user: User, flash: Flash)

@import controllers.routes
@import helper._


<!DOCTYPE html>
<html lang="ja">
<head>
    @templates.htmlHead(title = Messages("lang.auth.passwordchg.title"))
    <link rel="stylesheet" href='@routes.MyAssets.css("cms/companyManage.css")' />
    <script type="text/javascript" src='@routes.MyAssets.lib("jquery.tablefix_1.0.1.js")'></script>
    <script type="text/javascript">
        $(function() {
            $("#radioSelectedUser1").on('click', function() {
                $("#passwdChgBtn").html("開発管理者 パスワード変更");
            });
            $("#radioSelectedUser2").on('click', function() {
                $("#passwdChgBtn").html("システム管理者 パスワード変更");
            });
            $("#passwdChgBtn").on('click', function() {
                $('#inputForm').submit();
            });
        });
    </script>
</head>
<body>
    <!-- content -->
    <div class="container">
        <!-- ナビバー  -->
        @views.html.templates.navBar()
        <div class="row" style="margin-top: 50px;">
            <!-- メイン -->
            <div class="col-lg-12 mainSpace">
                <!-- メッセージ -->
                @views.html.templates.msgDiv()
                <!-- 画面題字 -->
                <div class="form-group" style="font-weight:bold;font-size:19px;margin:15px 0px;">
                    @Messages("lang.auth.passwordchg.page.title")
                </div>
                @if(flash.get("success").getOrElse("") != "") {
                    <div class="text-left col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 tableTh" style="float:none">
                        <div class="alert alert-info"><i class="fa fa-info-circle"></i>&nbsp;
                            @flash.get("success")
                        </div>
                    </div>
                }
                @if(passForm.hasErrors) {
                    <div class="text-left col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 tableTh" style="float:none">
                        <div class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i>&nbsp;
                            @Messages("error.changePassword.update")
                            @for(error <- passForm("").errors) {
                                <p class="error">@Messages(error.message)</p>
                            }
                        </div>
                    </div>
                }
                <!-- -->
                <form id="inputForm" name="inputForm" enctype="multipart/form-data" class="form-horizontal" method="post" action="@routes.Auth.handleChangePassword.path">
                    <div class="text-left col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 tableTh" style="float:none">
                        <table class="tableTh" style="margin:10px;text-align:left">
                            <tbody>
                                <tr>
                                    <td>
                                        <input id="radioSelectedUser1" type="radio" name="selectUser" value="dev" checked="checked" />
                                        <label for="radioSelectedUser1">@Messages("lang.auth.passwordchg.dev.user")</label>
                                    </td>
                                    <td>@Messages("lang.auth.passwordchg.separate")</td>
                                    <td>
                                        <input id="dev_user_id" type="text" name="devUser" value='@{passForm("devUser").value}' readonly />
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Messages("lang.auth.passwordchg.dev.user_current_pass")</td>
                                    <td>@Messages("lang.auth.passwordchg.separate")</td>
                                    <td>
                                        <input id="dev_user_current_pass" type="password" name="devUserCurrent" value="" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Messages("lang.auth.passwordchg.dev.user_pass1")</td>
                                    <td>@Messages("lang.auth.passwordchg.separate")</td>
                                    <td>
                                        <input id="dev_user_new_pass1" type="password" name="devUserPassword1" value="" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Messages("lang.auth.passwordchg.dev.user_pass2")</td>
                                    <td>@Messages("lang.auth.passwordchg.separate")</td>
                                    <td>
                                        <input id="dev_user_new_pass2" type="password" name="devUserPassword2" value="" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="height:20px"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input id="radioSelectedUser2" type="radio" name="selectUser" value="sys" />
                                        <label for="radioSelectedUser2">@Messages("lang.auth.passwordchg.sys.user")</label>
                                    </td>
                                    <td>@Messages("lang.auth.passwordchg.separate")</td>
                                    <td>
                                        <input id="sys_user_id" type="text" name="sysUser" value='@{passForm("sysUser").value}' readonly />
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Messages("lang.auth.passwordchg.sys.user_current_pass")</td>
                                    <td>@Messages("lang.auth.passwordchg.separate")</td>
                                    <td>
                                        <input id="sys_user_current_pass" type="password" name="sysUserCurrent" value="" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Messages("lang.auth.passwordchg.sys.user_pass1")</td>
                                    <td>@Messages("lang.auth.passwordchg.separate")</td>
                                    <td>
                                        <input id="sys_user_new_pass1" type="password" name="sysUserPassword1" value="" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Messages("lang.auth.passwordchg.sys.user_pass2")</td>
                                    <td>@Messages("lang.auth.passwordchg.separate")</td>
                                    <td>
                                        <input id="sys_user_new_pass2" type="password" name="sysUserPassword2" value="" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="height:20px"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                        </div>
                    </div>
                    <div class="text-left col-xs-5 col-sm-5 col-md-5 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                        <a id="passwdChgBtn" class="btn link text-right">開発管理者 パスワード変更</a>
                    </div>
                    @CSRF.formField
                </form>
            </div>
        </div>
    </div>
</body>
</html>
