@(passwordsForm: Form[(String, String, String)])(implicit request: RequestHeader, messages: Messages, user: User, flash: Flash)

@import controllers.routes
@import helper._

<!DOCTYPE html>
<html lang="ja">
<head>
    @templates.htmlHead(title = Messages("lang.auth.passwordchg.title"))
    <link rel="stylesheet" href='@routes.MyAssets.css("cms/companyManage.css")' />
    <script type="text/javascript" src='@routes.MyAssets.lib("jquery.tablefix_1.0.1.js")'></script>
</head>
<body>
    <!-- content -->
    <div class="container">
        <!-- ナビバー  -->
        @views.html.templates.navBar()
        <div class="row" style="margin-top: 50px;">
            <!-- メイン -->
            <div class="col-lg-12 mainSpace">
                <!-- メッセージ -->
                @views.html.templates.msgDiv()
                <!-- 画面題字 -->
                <div class="form-group" style="font-weight:bold;font-size:19px;margin:15px 0px;">
                    @Messages("lang.auth.passwordchg.page.title")
                </div>
                <!-- -->
                <div class="text-left col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 tableTh" style="float:none">
                    <table class="tableTh" style="margin:10px;text-align:left">
                        <tbody>
                            <tr>
                                <td>
                                    <input id="radio_selected_user1" type="radio" name="radio_selected" value="dev" checked="checked" />
                                    <label for="radio_selected_user1">@Messages("lang.auth.passwordchg.dev.user")</label>
                                </td>
                                <td>@Messages("lang.auth.passwordchg.separate")</td>
                                <td>
                                    <input id="dev_user_id" type="text" name="dev_user_id" value="exb＠where123.jp" readonly />
                                </td>
                            </tr>
                            <tr>
                                <td>@Messages("lang.auth.passwordchg.dev.user_current_pass")</td>
                                <td>@Messages("lang.auth.passwordchg.separate")</td>
                                <td>
                                    <input id="dev_user_current_pass" type="password" name="dev_user_current_pass" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td>@Messages("lang.auth.passwordchg.dev.user_pass1")</td>
                                <td>@Messages("lang.auth.passwordchg.separate")</td>
                                <td>
                                    <input id="dev_user_new_pass1" type="password" name="dev_user_new_pass1" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td>@Messages("lang.auth.passwordchg.dev.user_pass2")</td>
                                <td>@Messages("lang.auth.passwordchg.separate")</td>
                                <td>
                                    <input id="dev_user_new_pass2" type="password" name="dev_user_new_pass2" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" style="height:20px"></td>
                            </tr>
                            <tr>
                                <td>
                                    <input id="radio_selected_user2" type="radio" name="radio_selected" value="system" />
                                    <label for="radio_selected_user2">@Messages("lang.auth.passwordchg.sys.user")</label>
                                </td>
                                <td>@Messages("lang.auth.passwordchg.separate")</td>
                                <td>
                                    <input id="sys_user_id" type="text" name="sys_user_id" value="admin＠mail.com" readonly />
                                </td>
                            </tr>
                            <tr>
                                <td>@Messages("lang.auth.passwordchg.sys.user_current_pass")</td>
                                <td>@Messages("lang.auth.passwordchg.separate")</td>
                                <td>
                                    <input id="sys_user_current_pass" type="password" name="sys_user_current_pass" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td>@Messages("lang.auth.passwordchg.sys.user_pass1")</td>
                                <td>@Messages("lang.auth.passwordchg.separate")</td>
                                <td>
                                    <input id="sys_user_new_pass1" type="password" name="sys_user_new_pass1" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td>@Messages("lang.auth.passwordchg.sys.user_pass2")</td>
                                <td>@Messages("lang.auth.passwordchg.separate")</td>
                                <td>
                                    <input id="sys_user_new_pass2" type="password" name="sys_user_new_pass2" value="" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" style="height:20px"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                    </div>
                </div>
                <div class="text-left col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <a href="javascript:showPasswordModal();" class="btn link text-right">開発管理者 パスワード変更</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
