@(signInForm: Form[(String, String, Boolean)])(implicit request: RequestHeader, messages: Messages)
@import b3.vertical.fieldConstructor
@import controllers.routes

<!doctype html>
<html lang="ja">
<head>
	@templates.htmlHead(title="ログイン")
	<link rel="stylesheet" href="@routes.MyAssets.css("cms/signIn.css")"/>
	<script type="text/javascript">
		$(function() {
			$('.login-btn').on('touchstart touchend', function(e) {
				if (e.type === 'touchstart') {
					$(this).addClass('login-tab');
				}else{
					$(this).removeClass('login-tab');
				}
			});
		});
	</script>
</head>
<body>
	<!-- content  -->
	<div class="container">
		<div id="pcTabletNav" class="row" style="margin-bottom:0px">
			<div class="navbarCorner col-xs-2 col-sm-2 col-md-2 col-lg-2 title-height">
				<div class="navbar-brand">
					<div>
						<span>@Messages("system.name")</span>
					</div>
				</div>
			</div>
			<div class="navbar col-xs-10 col-sm-10 col-md-10 col-lg-10 nav-style">
			</div>
		</div>
		@b3.formCSRF(routes.Auth.authenticate) {
			<div class="row form-row">
				<div class="col-xs-6 col-xs-offset-3 col-xs-6 col-sm-offset-3 col-md-6 col-md-offset-3">
					@tags.alertFromRequest(request, "error")
					<div class="form-group">
						@b3.text(
							signInForm("identifier"),
							'_hiddenLabel -> Messages("signin.field.loginid"),
							'required -> false,
							'placeholder -> Messages("signin.field.loginid.placeholder"),
							'autofocus -> false )
					</div>
					<div class="form-group">
						@b3.password(
							signInForm("password"),
							'_hiddenLabel -> Messages("signin.field.password"),
							'required -> false,
							'placeholder -> Messages("signin.field.password.placeholder") )
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-xs-offset-3 col-xs-6 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
					<div class="form-group">
						@b3.submit('class -> "btn login-btn text-center form-control fontMspGothic"){ @Messages("signin.button.title") }
					</div>
				</div>
			</div>
		}
	</div>
</body>
</html>
