@(carList: Seq[Car], placeId: Int)(implicit user: User, messages: Messages, request: RequestHeader, flash: Flash)

@import controllers.routes
@import helper._

<!doctype html>
<html lang="ja">
<head>
    @templates.htmlHead(title = Messages("lang.cms.carManage.title"))
    <link rel="stylesheet" href="@routes.MyAssets.css("cms/carManage.css")"/>
    <script type="text/javascript" src="@routes.MyAssets.lib("jquery.tablefix_1.0.1.js")"></script>
    <script></script>
</head>
<body>
    <!-- content -->
    <div class="container">
        <!-- ナビバー  -->
        @views.html.templates.navBar()
        <div class="row" style="margin-top: 50px;">
            <!-- 左サイドバー -->
            @views.html.templates.sideMenu()
            <!-- メイン -->
            <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10 mainSpace">
                <!-- メッセージ -->
                @views.html.templates.msgDiv()
                <!-- 画面題字 -->
                <div class="form-group" style="font-weight:bold;font-size:19px;margin:15px 0px;">
                    @Messages("lang.cms.carManage.page.title")
                </div>
                <!-- テーブルのROW -->
                <div class="row tableRow">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0;">
                        <div class="table-responsive-body">
                            <table class="table table-bordered table-condensed itemTable">
                                <thead>
                                    <tr>
                                        <th colspan="4" class="tableTitleTh">@Messages("lang.cms.carManage.car.list.header.title")</th>
                                    </tr>
                                    <tr>
                                        <th class="tableTh carNoTh">@Messages("lang.cms.carManage.car.list.header.number")</th>
                                        <th class="tableTh carNameTh">@Messages("lang.cms.carManage.car.list.header.name")</th>
                                        <th class="tableTh carTxNoTh">@Messages("lang.cms.carManage.car.list.header.carNumber")</th>
                                        <th class="tableTh keyTxNoTh">@Messages("lang.cms.carManage.car.list.header.keyNumber")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for(car <- carList){
                                        <tr class="rowColor rowHover" data-carId="@car.carId" id="@car.carId">
                                            <td class="itemTd text-center carNo">@car.carNo</td>
                                            <td class="itemTd text-left carName">@car.carName</td>
                                            <td class="itemTd text-center carBtxId">@car.carBtxId</td>
                                            <td class="itemTd text-center carKeyBtxId">@car.carKeyBtxId</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- ボタン-->
                <div class="row tableRow" style="margin-top: 10px;">
                    <div class="text-right col-xs-4 col-sm-4 col-md-4" style="padding:0;">
                        <a href="javascript:showInputModal(false);" class="btn link">@Messages("lang.cms.carManage.car.button.editCar")</a>
                    </div>
                    <div class="text-center col-xs-4 col-sm-4 col-md-4" style="padding:0;">
                        <a href="javascript:showInputModal(true);" class="btn link">@Messages("lang.cms.carManage.car.button.addCar")</a>
                    </div>
                    <div class="text-left col-xs-4 col-sm-4 col-md-4" style="padding:0;">
                        <a href="javascript:showDeleteModal();" class="btn link">@Messages("lang.cms.carManage.car.button.deleteCar")</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="@routes.MyAssets.js("cms/carManage.js")"></script>
    <script></script>

    <!-- 更新モーダル画面 -->
    <div class="modal" id="inputModal" tabindex="-1" role="dialog" aria-labelledby="inputModalLabel" aria-hidden="true" data-show="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="carForm" name="carForm" enctype="multipart/form-data" class="form-horizontal" method="post" action="@controllers.cms.routes.CarManage.update.path">
                    @CSRF.formField
                    <input type="hidden" name="inputPlaceId" value="@placeId">
                    <input type="hidden" id="inputCarId" name="inputCarId">
                    <div class="modal-header" style="">@Messages("lang.cms.carManage.carUpdate.popup.name")</div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-xs-5">@Messages("lang.cms.carManage.carUpdate.popup.carNumber")</label>
                            <div class="col-xs-2" style="padding-left: 0px;padding-right: 0px;">
                                <input type="text" maxlength="3" size="3" name="inputCarNo" id="inputCarNo" class="form-control" placeholder="@Messages("lang.cms.carManage.carUpdate.popup.carNumber.placeholder")">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">@Messages("lang.cms.carManage.carUpdate.popup.carName")</label>
                            <div class="col-xs-5" style="padding-left: 0px;padding-right: 0px;">
                                <input type="text" name="inputCarName" id="inputCarName" class="form-control" placeholder="@Messages("lang.cms.carManage.carUpdate.popup.carName.placeholder")">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">@Messages("lang.cms.carManage.carUpdate.popup.carTxNo")</label>
                            <div class="col-xs-2" style="padding-left: 0px;padding-right: 0px;">
                                <input type="text" name="inputCarBtxId" id="inputCarBtxId" class="form-control" placeholder="@Messages("lang.cms.carManage.carUpdate.popup.carTxNo.placeholder")">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">@Messages("lang.cms.carManage.carUpdate.popup.keyTxNo")</label>
                            <div class="col-xs-2" style="padding-left: 0px;padding-right: 0px;">
                                <input type="text" name="inputCarKeyBtxId" id="inputCarKeyBtxId" class="form-control" placeholder="@Messages("lang.cms.carManage.carUpdate.popup.keyTxNo.placeholder")">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-xs-6 text-center">
                            <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("cancel")</button>
                        </div>
                        <div class="col-xs-6 text-center">
                            <button id="carUpdateFooter"  type="submit" class="text-center btn btn-primary hidden">@Messages("update")</button>
                            <button id="carRegisterFooter"  type="submit" class="text-center btn btn-primary hidden">@Messages("registration")</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 削除モーダル画面 -->
    <div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" data-show="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="deleteForm" name="deleteForm" class="form-horizontal" method="post" enctype="multipart/form-data" action="@controllers.cms.routes.CarManage.delete.path">
                    @CSRF.formField
                    <input type="hidden" id="deleteCarId" name="deleteCarId">
                    <div class="modal-header">@Messages("lang.cms.carManage.carDelete.popup.title")</div>
                    <div class="modal-body">
                        <div class="text-center">
                            @Html(Messages("lang.cms.carManage.carDelete.popup.message").replaceAll("(\r\n|\r|\n)","<br>"))
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-xs-6 text-center">
                            <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("cancel")</button>
                        </div>
                        <div class="col-xs-6 text-center">
                            <a href="javascript:deleteCar();" class="text-center btn btn-danger">@Messages("delete")</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
