@(itemList: Seq[ItemListInfo], placeId: Int)(implicit user: User, messages: Messages, request: RequestHeader, flash: Flash)

@import controllers.routes
@import helper._

<!doctype html>
<html lang="ja">
<head>
    @templates.htmlHead(title = Messages("lang.cms.itemManage.title"))
    <link rel="stylesheet" href="@routes.MyAssets.css("cms/itemManage.css")"/>
    <script type="text/javascript" src="@routes.MyAssets.lib("jquery.tablefix_1.0.1.js")"></script>
    <script></script>
</head>
<body>
    <!-- content -->
    <div class="container">
        <!-- ナビバー  -->
        @views.html.templates.navBar()
        <div class="row" style="margin-top: 50px;">
            <!-- 左サイドバー -->
            @views.html.templates.sideMenu()
            <!-- メイン -->
            <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10 mainSpace">
                <!-- メッセージ -->
                @views.html.templates.msgDiv()
                <!-- 画面題字 -->
                <div class="form-group" style="font-weight:bold;font-size:19px;margin:15px 0px;">
                    @Messages("lang.cms.itemManage.page.title")
                </div>
                <!-- テーブルのROW -->
                <div class="row tableRow">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0;">
                        <div class="table-responsive-body">
                            <table class="table table-bordered table-condensed itemTable">
                                <thead>
                                    <tr>
                                        <th colspan="4" class="tableTitleTh">@Messages("lang.cms.itemManage.item.list.header.title")</th>
                                    </tr>
                                    <tr>
                                        <th class="tableTh noTh text-center">@Messages("lang.cms.itemManage.item.list.header.id")</th>
                                        <th class="tableTh">@Messages("lang.cms.itemManage.item.list.header.name")</th>
                                        <th class="tableTh">@Messages("lang.cms.itemManage.item.list.header.biko")</th>
                                        <th class="tableTh noTh">@Messages("lang.cms.itemManage.item.list.header.count")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for(item <- itemList){
                                        <tr class="rowColor rowHover" id="@item.itemKindId">
                                            <td class="itemTd text-center itemKindId">@{item.itemKindId}</td>
                                            <td class="itemTd text-left itemKindName">@{item.itemKindName}</td>
                                            <td class="itemTd text-left note">@{item.note}</td>
                                            <td class="itemTd text-right itemCount">@{item.itemCount}</span>
                                            @for(data <- item.actualItemInfoList){
                                            <span class="item hidden" data-itemId="@data.itemId" data-itemNo="@data.itemNo" data-itemBtxId="@data.itemBtxId"></span>
                                            }</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- ボタン-->
                <div class="row tableRow" style="margin-top: 10px;">
                    <div class="text-right col-xs-4 col-sm-4 col-md-4" style="padding:0;">
                        <a href="javascript:showInputModal(false);" class="btn link">@Messages("lang.cms.itemManage.item.button.editItem")</a>
                    </div>
                    <div class="text-center col-xs-4 col-sm-4 col-md-4" style="padding:0;">
                        <a href="javascript:showInputModal(true);" class="btn link">@Messages("lang.cms.itemManage.item.button.addItem")</a>
                    </div>
                    <div class="text-left col-xs-4 col-sm-4 col-md-4" style="padding:0;">
                        <a href="javascript:showDeleteModal();" class="btn link">@Messages("lang.cms.itemManage.item.button.deleteItem")</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="@routes.MyAssets.js("cms/itemManage.js")"></script>
    <script></script>

    <!-- モーダル画面 -->
    <div class="modal" id="inputModal" tabindex="-1" role="dialog" aria-labelledby="InputModalLabel" aria-hidden="true" data-show="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="itemForm" name="itemForm" enctype="multipart/form-data" class="form-horizontal" method="post" action="@controllers.cms.routes.ItemManage.update.path">
                    @CSRF.formField
                    <input type="hidden" name="inputPlaceId" value="@placeId">
                    <input type="hidden" id="inputItemKindId" name="inputItemKindId">
                    <input type="hidden" id="actualItemInfoStr" name="actualItemInfoStr">
                    <div class="modal-header" style="">@Messages("lang.cms.itemManage.itemUpdate.popup.title")</div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-xs-4">@Messages("lang.cms.itemManage.itemUpdate.popup.itemName")</label>
                            <div class="col-xs-3" style="padding-left: 0px;padding-right: 0px;">
                                <input type="text" id="inputItemKindName" name="inputItemKindName" class="form-control" placeholder="@Messages("lang.cms.itemManage.itemUpdate.popup.itemName.placeholder")">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4">@Messages("lang.cms.itemManage.itemUpdate.popup.itemBiko")</label>
                            <div class="col-xs-5" style="padding-left: 0px;padding-right: 0px;">
                                <input type="text" id="inputNote" name="inputNote" class="form-control">
                            </div>
                        </div>
                        <div class="form-group" style="margin-bottom: 5px;">
                            <label class="control-label col-xs-4">@Messages("lang.cms.itemManage.itemUpdate.popup.itemNo")</label>
                            <div class="col-xs-2" style="padding-left: 0px;padding-right: 0px;margin-right: 10px;">
                                <input type="text" maxlength="3" id="inputItemNo" class="form-control" placeholder="@Messages("lang.cms.itemManage.itemUpdate.popup.itemNo.placeholder")">
                            </div>
                            <div class="col-xs-2" style="padding-left: 0px;padding-right: 0px;margin-right: 10px;">
                                <input type="text" id="inputItemBtxId" class="form-control" placeholder="@Messages("lang.cms.itemManage.itemUpdate.popup.txNo.placeholder")">
                            </div>
                            <div class="col-xs-2" style="padding-left: 0px;padding-right: 0px;">
                                <a href="javascript:addTagRow();"class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="form-group template hidden" style="margin-bottom: 5px;">
                            <label class="control-label col-xs-4"></label>
                            <div class="col-xs-2 text-center inputManageNoDiv">
                                <span class="inputItemNoSpan"></span>
                            </div>
                            <div class="col-xs-2 text-center inputTxTagNoDiv">
                                <span class="inputItemBtxIdSpan"></span>
                            </div>
                            <div class="col-xs-2" style="padding-left: 0px;padding-right: 0px;">
                                <a onclick="removeTagRow(this);" class="btn btn-default removeRowBtn">
                                    <i class="fa fa-close fa-1x" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-xs-6 text-center">
                            <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("cancel")</button>
                        </div>
                        <div class="col-xs-6 text-center">
                            <button id="itemUpdateFooter"  type="submit" class="text-center btn btn-primary hidden">@Messages("update")</button>
                            <button id="itemRegisterFooter"  type="submit" class="text-center btn btn-primary hidden">@Messages("registration")</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 削除モーダル画面 -->
    <div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" data-show="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="deleteForm" name="deleteForm" enctype="multipart/form-data" class="form-horizontal" method="post" action="@controllers.cms.routes.ItemManage.delete.path">
                    @CSRF.formField
                    <input type="hidden" id="deleteItemId" name="deleteItemId">
                    <div class="modal-header">@Messages("lang.cms.itemManage.itemDelete.popup.title")</div>
                    <div class="modal-body">
                        <div class="text-center">
                            @Html(Messages("lang.cms.itemManage.itemDelete.popup.message").replaceAll("(\r\n|\r|\n)","<br>"))
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-xs-6 text-center">
                            <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("cancel")</button>
                        </div>
                        <div class="col-xs-6 text-center">
                            <button type="submit" class="text-center btn btn-danger">@Messages("delete")</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>