@(place: Place, floorInfoList: Seq[FloorInfo], statusMap: Map[Int,String])(implicit user: User, messages: Messages, request: RequestHeader, flash: Flash)

@import controllers.routes
@import helper._

@views.html.templates.logged(title = "現場管理", tab = "index", containerClass = "container-index") {
<!doctype html>
<html lang="ja">
<head>
    @templates.htmlHead("現場管理")
    <link rel="stylesheet" href="@routes.MyAssets.css("cms/placeManageDetail.css")"/>
    <script type="text/javascript" src="@routes.MyAssets.lib("jquery.tablefix_1.0.1.js")"></script>
    <script></script>
</head>
<body>
    <!-- content -->
    <div class="container">
        <!-- ナビバー  -->
        @views.html.templates.navBar()
        <div class="row" style="margin-top: 50px;">
            <!-- 左サイドバー -->
            @views.html.templates.cmsSideMenu()
            <!-- メイン -->
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                <!-- メッセージ -->
                @views.html.templates.msgDiv()
                <!-- テーブルのROW -->
                <div class="row tableRow">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0;">
                        <div class="table-responsive-body">
                            <table class="table table-bordered table-condensed itemTable">
                                <thead>
                                    <tr>
                                        <th colspan="4" class="tableTitleTh">現場管理</th>
                                    </tr>
                                    <tr>
                                        <th class="tableTh noTh">ID</th>
                                        <th class="tableTh placeNameTh">建設現場名称</th>
                                        <th class="tableTh floorCountTh">階数</th>
                                        <th class="tableTh stateTh">状態</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="rowColor">
                                        <td class="itemTd text-right">@place.placeId</td>
                                        <td class="itemTd text-left">@place.placeName</td>
                                        <td class="itemTd text-right">@place.floorCount</td>
                                        <td class="itemTd text-center">@place.statusName</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- ボタン-->
                <div class="row tableRow" style="margin-bottom: 50px;">
                    <div class="text-center col-xs-4 col-sm-4 col-md-4 col-xs-offset-4 col-sm-offset-4 col-md-offset-4" style="padding:0;">
                        <a href="javascript:showPlaceUpdateModal();" class="btn btn-primary link text-right">編集</a>
                    </div>
                    <div class="text-right col-xs-4 col-sm-4 col-md-4" style="padding:0;">
                        <a href="javascript:showPlaceDeleteModal();" class="btn deleteLink text-right">削除</a>
                    </div>
                </div>
                <!-- フロア情報テーブルのROW -->
                <div class="row tableRow">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0;">
                        <div class="floorTable-responsive-body">
                            <table class="table table-bordered table-condensed itemTable floorTable">
                                <thead>
                                    <tr>
                                        <th colspan="2" class="tableTitleTh">フロア情報</th>
                                    </tr>
                                    <tr>
                                        <th class="tableTh floorTh">フロア名</th>
                                        <th class="tableTh deviceTh">EXBeaconデバイスID</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for(floor <- floorInfoList){
                                        <tr class="rowColor rowHover" id="@floor.floorId">
                                            <td class="itemTd text-center floorName">@floor.floorName</td>
                                            <td class="itemTd text-left exbDeviceIdList">
                                                @for(exbDeviceId <- floor.exbDeviceIdList){
                                                    <span class="part">@exbDeviceId</span>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- ボタン-->
                <div class="row tableRow" >
                    <div class="text-right col-xs-4 col-sm-4 col-md-4 col-xs-offset-8 col-sm-offset-8 col-md-offset-8" style="padding:0;">
                        <a href="javascript:showFloorModal('');" class="btn btn-primary link text-right">フロア追加</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="@routes.MyAssets.js("cms/placeManageDetail.js")"></script>
    <script></script>

    <!-- 現場更新モーダル画面 -->
    <div class="modal" id="placeUpdateModal" tabindex="-1" role="dialog" aria-labelledby="placeUpdateModalLabel" aria-hidden="true" data-show="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="placeUpdateForm" name="placeUpdateForm" enctype="multipart/form-data" class="form-horizontal" method="post" action="@controllers.cms.routes.PlaceManage.update.path">
                    @CSRF.formField
                    <input type="hidden" name="inputPlaceId" value="@place.placeId">
                    <div class="modal-header">編集</div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-xs-5">建設現場名称</label>
                            <div class="col-xs-5" style="padding-left: 0px;padding-right: 0px;">
                                <input type="text" name="inputPlaceName" value="@place.placeName" class="form-control" placeholder="東北医科薬科大学病院">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5" style="padding-top: 0px;">状態</label>
                            <div class="col-xs-2" style="padding-left: 0px;padding-right: 0px;">
                                <select name="inputPlaceStatus" class="form-control">
                                    @statusMap.map{case (code, name) =>
                                        @if(code == place.status){
                                            <option selected value="@code">@name</option>
                                        }else{
                                            <option value="@code">@name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align: center;">
                        <div class="col-xs-6 text-center">
                            <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                        </div>
                        <div class="col-xs-6 text-center">
                            <a href="javascript:doSubmit('placeUpdateForm', '@controllers.cms.routes.PlaceManage.update.path');" class="text-center btn btn-primary">更新</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 現場削除モーダル画面 -->
    <div class="modal" id="placeDeleteModal" tabindex="-1" role="dialog" aria-labelledby="placeDeleteModalLabel" aria-hidden="true" data-show="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="placeDeleteForm" name="placeDeleteForm" enctype="multipart/form-data" class="form-horizontal" method="post" action="@controllers.cms.routes.PlaceManage.delete.path">
                    @CSRF.formField
                    <input type="hidden" name="inputPlaceId" value="@place.placeId">
                    <div class="modal-header">削除</div>
                    <div class="modal-body">
                        <div class="text-center">
                            建設現場の情報を削除します。<br/>よろしいですか？
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-xs-6 text-center">
                            <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                        </div>
                        <div class="col-xs-6 text-center">
                            <a href="javascript:doSubmit('placeDeleteForm', '@controllers.cms.routes.PlaceManage.delete.path');" class="text-center btn btn-danger">削除</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- フロアモーダル画面 -->
    <div class="modal" id="floorModal" tabindex="-1" role="dialog" aria-labelledby="floorModalLabel" aria-hidden="true" data-show="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="floorForm" name="floorForm" enctype="multipart/form-data" class="form-horizontal" method="post">
                    @CSRF.formField
                    <input type="hidden" name="inputPlaceId" value="@place.placeId">
                    <input type="hidden" id="inputFloorId" name="inputFloorId">
                    <input type="hidden" id="inputExbDeviceIdListComma" name="inputExbDeviceIdListComma">
                    <div class="modal-header">フロア情報更新</div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-xs-5">フロア名</label>
                            <div class="col-xs-2" style="padding-left: 0px;padding-right: 0px;">
                                <input type="text" name="inputFloorName" id="inputFloorName" class="form-control" placeholder="8F">
                            </div>
                        </div>
                        <div class="form-group" style="margin-bottom: 5px;">
                            <label class="control-label col-xs-5">EXBeaconデバイスID</label>
                            <div class="col-xs-2" style="padding-left: 0px;padding-right: 0px;margin-right:10px;">
                                <input type="text" name="inputDeviceId" id="inputDeviceId" class="form-control">
                            </div>
                            <div class="col-xs-1" style="padding-left: 0px;padding-right: 0px;">
                                <a href="javascript:addTagRow();"class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="form-group template hidden" style="margin-bottom: 5px;">
                            <label class="control-label col-xs-5"></label>
                            <div class="col-xs-2 inputDeviceIdDiv text-center">
                                <span class="inputDeviceIdSpan"></span>
                            </div>
                            <div class="col-xs-1" style="padding-left: 0px;padding-right: 0px;">
                                <a onclick="removeTagRow(this);" class="btn btn-default removeRowBtn">
                                    <i class="fa fa-close fa-1x" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="floorFooter" class="modal-footer">
                        <div id="floorUpdateFooter">
                            <div class="col-xs-4 text-center">
                                <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="javascript:doSubmit('floorForm', '@controllers.cms.routes.PlaceManage.floorUpdate.path');" class="text-center btn btn-primary">更新</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="javascript:doSubmit('floorForm', '@controllers.cms.routes.PlaceManage.floorDelete.path');" class="text-center btn btn-danger">削除</a>
                            </div>
                        </div>
                        <div id="floorRegisterFooter">
                            <div class="col-xs-6 text-center">
                                <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                            </div>
                            <div class="col-xs-6 text-center">
                                <a href="javascript:doSubmit('floorForm', '@controllers.cms.routes.PlaceManage.floorUpdate.path');" class="text-center btn btn-primary">登録</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
}