@(dataList: Seq[BtxTelemetryInfo], placeId: Int)(implicit user: User, messages: Messages, request: RequestHeader, flash: Flash)

@import controllers.routes
@import helper._

<!doctype html>
<html lang="ja">
<head>
    @templates.htmlHead(title = Messages("lang.cms.companyManage.title"))
    <link rel="stylesheet" href="@routes.MyAssets.css("cms/txTagManage.css")"/>
    <script type="text/javascript" src="@routes.MyAssets.lib("jquery.tablefix_1.0.1.js")"></script>
    <script></script>
</head>
<body>
    <!-- content -->
    <div class="container">
        <!-- ナビバー  -->
        @views.html.templates.navBar()
        <div class="row" style="margin-top: 50px;">
            <!-- 左サイドバー -->
            @views.html.templates.sideMenu()
            <!-- メイン -->
            <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10 mainSpace">
                <!-- 画面題字 -->
                <div class="form-group" style="font-weight:bold;font-size:19px;margin:15px 0px;">
                    @Messages("lang.cms.companyManage.page.title")
                </div>
                <!-- テーブルのROW -->
                <div class="row tableRow">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0;">
                        <div class="table-responsive-body">
                            <table class="table table-bordered table-condensed itemTable">
                                <thead>
                                    <tr>
                                        <th colspan="5" class="tableTitleTh">@Messages("lang.cms.companyManage.company.list.header.title")</th>
                                    </tr>
                                    <tr>
                                        <th class="tableTh txTagNoTh">@Messages("lang.cms.companyManage.company.list.header.beaconTxNo")</th>
                                        <th class="tableTh batteryTh">@Messages("lang.cms.companyManage.company.list.header.powerLevel")</th>
                                        <th class="tableTh kindTh">@Messages("lang.cms.companyManage.company.list.header.kind")</th>
                                        <th class="tableTh nameTh">@Messages("lang.cms.companyManage.company.list.header.name")</th>
                                        <th class="tableTh noteTh">@Messages("lang.cms.companyManage.company.list.header.biko")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for(data <- dataList){
                                        <tr class="rowColor">
                                            <td class="itemTd text-center">@{data.btxId}</td>
                                            <td class="itemTd text-center">
                                                @if(data.isDetect){
                                                    <div class="progress" style="margin-bottom: 0; background-color: #efe">
                                                        @if(data.powerLevel < 20){
                                                            <div class="batteryDanger" style="width: @{data.powerLevel}%;">&nbsp;</div>
                                                        }else{
                                                            @if(data.powerLevel <= 30){
                                                                <div class="batteryWarn" style="width: @{data.powerLevel}%;">&nbsp;</div>
                                                            }else{
                                                                <div class="batteryOk" style="width: @{data.powerLevel}%;">&nbsp;</div>
                                                            }
                                                        }
                                                        <div style="margin-top: -24px; width:100%;">@{data.powerLevel}%</div>
                                                    </div>
                                                }else{
                                                    <span>@Messages("lang.cms.companyManage.company.list.body.undetected")</span>
                                                }
                                            </td>
                                            <td class="itemTd text-center">
                                                @if(data.kindName != ""){
                                                    @{data.kindName}
                                                } else {
                                                    @Messages("lang.cms.companyManage.company.list.body.unused")
                                                }
                                            </td>
                                            <td class="itemTd text-left">@{data.name}</td>
                                            <td class="itemTd text-left">@{data.note}</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="@routes.MyAssets.js("cms/txTagManage.js")"></script>
    <script></script>
</body>
</html>