td{
    padding:2px;
    white-space: nowrap!important;
}
.table-responsive-body{
    border: 1px;
    margin-bottom:0;
    border-top-width: 0px;
}
.tableRow{
    margin-top: 10px;
    margin-right: 0!important;
    margin-left: 0!important;
}

.tableTitleTh{
    background-color: #4976CA;
    color: #FFFFFF;
    font-size: 19px;
    text-align: center;
}

.itemTd{
    font-size: calc(110%);
    white-space: nowrap;
}

.tableTh{
    padding:0;
    background-color: #B4C7E7!important;
    text-align: center;
    font-size: calc(110%);
}

.txTagNoTh{
    width: 13%;
}
.batteryTh{
    width: 10%;
}
.kindTh{
    width: 10%;
}
.nameTh{

}
.noteTh{

}

/*** table-bordered の改変 start ****************************************/
.itemTable {
    border: 2px solid #4472C4!important;
    min-width: 100%;
    margin-bottom: 0px;
}

.itemTable>thead>tr>th ,
.itemTable>tbody>tr>td{
    border: 2px solid #4472C4!important;
}

  .itemTable>tbody>tr>td
, .itemTable>tbody>tr>th
, .itemTable>thead>tr>td
, .itemTable>thead>tr>th {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 4px;
    padding-left: 4px;
    vertical-align: middle;
}

.itemTable>tbody>tr>th{
    vertical-align: middle;
}

.itemTable>tbody>tr>th{
    vertical-align: middle;
}

/*** table-bordered の改変 end ****************************************/

.rowColor{
    background-color: #FFF;
}

.batteryOk{
    background-color: #70AD47
}
.batteryWarn{
    background-color: #ED7D31
}
.batteryDanger{
    background-color: #C00000
}
