@()(implicit user: User, request: RequestHeader)

@import controllers.routes

<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 cms-side-area">
    <div class="sideMenu">
        <div class="panel list-group" style="margin-bottom: 0px;">
            @if(request.path == controllers.cms.routes.PlaceManage.detail.path){
                <a class="sideLinkClass sideLinkSelected list-group-item">現場管理</a>
            }else{
                <a href="@controllers.cms.routes.PlaceManage.detail.path" class="sideLinkClass sideLinkNotSelected list-group-item">現場管理</a>
            }
            @if(request.path == controllers.cms.routes.CarManage.index.path){
                <a class="sideLinkClass sideLinkSelected list-group-item">作業車管理</a>
            }else{
                <a href="@controllers.cms.routes.CarManage.index.path" class="sideLinkClass sideLinkNotSelected list-group-item">作業車管理</a>
            }
            @if(request.path == controllers.cms.routes.ItemManage.index.path){
                <a class="sideLinkClass sideLinkSelected list-group-item">仮設材管理</a>
            }else{
                <a href="@controllers.cms.routes.ItemManage.index.path" class="sideLinkClass sideLinkNotSelected list-group-item">仮設材管理</a>
            }
            @if(request.path == controllers.cms.routes.CompanyManage.index.path){
                <a class="sideLinkClass sideLinkSelected list-group-item">業者管理</a>
            }else{
                <a href="@controllers.cms.routes.CompanyManage.index.path" class="sideLinkClass sideLinkNotSelected list-group-item">業者管理</a>
            }
            @if(request.path == controllers.cms.routes.TxTagManage.index.path){
                <a class="sideLinkClass sideLinkSelected list-group-item">Beaconタグ管理</a>
            }else{
                <a href="@controllers.cms.routes.TxTagManage.index.path" class="sideLinkClass sideLinkNotSelected list-group-item">Beaconタグ管理</a>
            }
        </div>
    </div>
    <div class="sideMenu" style="margin-top: 10vw;">
        <div class="panel list-group" style="margin-bottom: 0px;">
            <a href="@routes.CarSummery.index.path" class="sideLinkClass sideLinkNotSelected list-group-item">稼働状況ページ</a>
            @if(user.isSysMng){
                <a href="@controllers.cms.routes.PlaceManage.index.path" class="sideLinkClass sideLinkNotSelected list-group-item">現場一覧ページ</a>
            }
        </div>
    </div>
</div>
