@(title: String, loggedUser: Option[User], withMainTabs: Boolean = true, tab: String = "", styles: Html = Html(""), scripts: Html = Html(""), modals: Html = Html(""), withBack: Boolean = false, containerClass: String = "")(content: Html)(implicit messages: Messages)

@import views.html.tags.auth._
@import controllers.routes

<!--@navbarContent = {-->
    <!--@loggedUser.map { user =>-->
        <!--<span style="float: right;">ログインID：@user.email</span><br/>-->
        <!--<a class="btn btn-navbar btn-signout" href="@routes.Auth.signOut">ログアウト</a>-->
    <!--}-->
<!--}-->

@content
