@**
* スライドメニュー部分  </body> の直前に挿入する。
**@
@()
@import controllers.routes

<nav id="slideMenu" class="pushy pushy-right hidden">
    <div class="pushy-content">
        <ul style="padding-left: 0px;">
            <li class="pushy-link"><a onclick="location.href='/htmlTop';">トップ</a></li>
            <li class="pushy-link"><a onclick="location.href='/htmlMenuHelp';">ヘルプ</a></li>
            <li class="pushy-link"><a onclick="location.href='/htmlMenuSetting';">各種設定</a></li>
            <li class="pushy-link"><a onclick="location.href='/htmlMenuGadget';">ガジェット</a></li>
            <li class="pushy-link"><a onclick="location.href='/signout';">ログアウト</a></li>
        </ul>
    </div>
</nav>
<div class="site-overlay"></div>
<link rel="stylesheet" media="(max-width: 1079px)" href="@routes.MyAssets.lib("pushy/css/pushy.css")"/>
<link rel="stylesheet" media="(min-width: 1080px)" href="@routes.MyAssets.lib("pushy/css/pushyDekasumaho.css")"/>
<!-- ナビゲーションメニュー追加処理 -->
<script type="text/javascript">
    $('.container').attr('id', 'container');

    // 各ボタンクリック時の色変更
    $('.pushy-link').on('touchstart touchend', function(e) {
        if (e.type === 'touchstart') {
            $(this).addClass('menuTappedClass');
        }else{
            $(this).removeClass('menuTappedClass');
        }
    });
</script>
<script src="@routes.MyAssets.lib("pushy/js/pushy.js")"></script>
<script type="text/javascript">
  $('#slideMenu').removeClass('hidden');
</script>

