@()(implicit user: User, messages: Messages, request: RequestHeader)

@import controllers.routes

@if(request.path contains "/site/") {
    <div style="margin: 20px 0px 30px 0px;">
        <div class="row text-center">
            <span class="currentTitle"><i class="fa fa-eye"></i>&nbsp;@Messages("lang.sideMenu.title.temporaryMaterialManagement")</span>
        </div>
    </div>
    <div class="menuBtnsDiv">
        <div class="menuBtnWrapper">
            <div class="row" style="margin: 3px 0px 0px 0px;">
                <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0;">

                    <!--<div class="row" style="margin: 0px 3px 10px 3px;">-->
                        <!--<div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">-->
                            <!--<a href="/site/reserveCar" class="btn menuBtn">「新仮設材予約」</a>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="innerMenu row" style="margin: 0px 3px 10px 3px;">
                        <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                            <a href="/site/itemCarMaster" class="btn menuBtn">@Messages("lang.site.carMaster.page.title")</a>
                        </div>
                    </div>
                    <div class="innerMenu row" style="margin: 0px 3px 10px 3px;">
                        <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                            <a href="/site/reserveCar" class="btn menuBtn">@Messages("lang.site.carReserve.page.title")</a>
                        </div>
                    </div>
                    <div class="innerMenu row" style="margin: 0px 3px 10px 3px;">
                        <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                            <a href="/site/itemCarCancel" class="btn menuBtn">@Messages("lang.site.carCancel.page.title")</a>
                        </div>
                    </div>
                    <div class="innerMenu row" style="margin: 0px 3px 10px 3px;">
                        <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                            <a href="/site/itemOtherMaster" class="btn menuBtn">@Messages("lang.site.otherMaster.page.title")</a>
                        </div>
                    </div>
                    <div class="innerMenu row" style="margin: 0px 3px 10px 3px;">
                        <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                            <a href="/site/itemOtherReserve" class="btn menuBtn">@Messages("lang.site.otherReserve.page.title")</a>
                        </div>
                    </div>
                    <div class="innerMenu row" style="margin: 0px 3px 10px 3px;">
                        <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                            <a href="/site/itemOtherCancel" class="btn menuBtn">@Messages("lang.site.otherCancel.page.title")</a>
                        </div>
                    </div>
                    <div class="innerMenu row" style="margin: 0px 3px 10px 3px;">
                        <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                            <a href="/site/unDetected" class="btn menuBtn">@Messages("lang.site.unDetected.page.title")</a>
                        </div>
                    </div>
                    <div class="innerMenu row" style="margin: 0px 3px 10px 3px;">
                        <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                            <a href="/site/txBattery" class="btn menuBtn">@Messages("lang.site.txBattery.title")</a>
                        </div>
                    </div>
                    <div class="innerMenu row" style="margin: 0px 3px 0px 3px;">
                        <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                            <a href="/site/workPlace" class="btn menuBtn">@Messages("lang.site.workPlace.page.title")</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--現場情報表示部-->
        <div class="menuBottomBtnsDiv">
            <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                <span class="menuBottomBtns">@user.currentPlaceName</span>
            </div>
        </div>
    </div>
}
@if(user.services.contains("level2") || user.services.contains("level3") || user.services.contains("master") ) {
    @if(request.path contains "/analysis/") {
        <div style="margin: 20px 0px 30px 0px;">
            <div class="row text-center">
                <span class="currentTitle"><i class="fa fa-bar-chart"></i>&nbsp;@Messages("lang.sideMenu.title.analysis")</span>
            </div>
        </div>
        <div class="menuBtnsDiv">
            <div class="menuBtnWrapper">
                <div class="row" style="margin: 3px 0px 0px 0px;">
                    <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0;">
                        <div class="innerMenu row" style="margin: 0px 3px 10px 3px;">
                            <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                <a href="/analysis/telemetry" class="btn menuBtn">@Messages("lang.analysis.telemetry.page.title")</a>
                            </div>
                        </div>
                        <div class="innerMenu row" style="margin: 0px 3px 10px 3px;">
                            <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                <a href="/analysis/gateway" class="btn menuBtn">@Messages("lang.analysis.gateway.page.title")</a>
                            </div>
                        </div>
                        <div class="innerMenu row" style="margin: 0px 3px 0px 3px;">
                            <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                <a href="/analysis/movementCar" class="btn menuBtn">@Messages("lang.analysis.movementCar.page.title")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--現場情報表示部-->
            <div class="menuBottomBtnsDiv">
                <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                    <span class="menuBottomBtns">@user.currentPlaceName</span>
                </div>
            </div>
        </div>
    }
    @if(
        (request.path contains "/manage/itemCar") ||
        (request.path contains "/manage/itemOther") ||
        (request.path contains "/manage/itemType") ||
        (request.path contains "/manage/company") ||
        (request.path contains "/manage/account")
    ) {
        <div style="margin: 20px 0px 30px 0px;">
            <div class="row text-center">
                <span class="currentTitle"><i class="fa fa-gear"></i>&nbsp;@Messages("lang.sideMenu.title.maintenance")</span>
            </div>
        </div>
        <div class="menuBtnsDiv">
            <div class="menuBtnWrapper">
                <div class="row" style="margin: 3px 0px 0px 0px;">
                    <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0;">
                        <div class="innerMenu row" style="margin: 0px 3px 10px 3px;">
                            <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                <a href="/manage/itemCar" class="btn menuBtn">@Messages("lang.manage.ItemCar.title")</a>
                            </div>
                        </div>
                        <div class="innerMenu row" style="margin: 0px 3px 10px 3px;">
                            <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                <a href="/manage/itemOther" class="btn menuBtn">@Messages("lang.manage.itemOther.title")</a>
                            </div>
                        </div>
                        <div class="innerMenu row" style="margin: 0px 3px 10px 3px;">
                            <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                <a href="/manage/itemType" class="btn menuBtn">@Messages("lang.manage.itemType.title")</a>
                            </div>
                        </div>
                        <div class="innerMenu row" style="margin: 0px 3px 10px 3px;">
                            <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                <a href="/manage/company" class="btn menuBtn">@Messages("lang.manage.Company.title")</a>
                            </div>
                        </div>
                        <div class="innerMenu row" style="margin: 0px 3px 0px 3px;">
                            <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                <a href="/manage/account" class="btn menuBtn">@Messages("lang.manage.Account.title")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--現場情報表示部-->
            <div class="menuBottomBtnsDiv">
                <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                    <span class="menuBottomBtns">@user.currentPlaceName</span>
                </div>
            </div>
        </div>
    }
}
@if(user.services.contains("level3") || user.services.contains("master") ) {
    @if(
        (request.path contains "/system/floor") ||
        (request.path contains "/system/floorMap") ||
        (request.path contains "/system/exb") ||
        (request.path contains "/system/exbSetup")
    ) {
        <div style="margin: 20px 0px 30px 0px;">
            <div class="row text-center">
                <span class="currentTitle"><i class="fa fa-wrench"></i>&nbsp;@Messages("lang.sideMenu.title.systemManagement")</span>
            </div>
        </div>
        <div class="menuBtnsDiv">
            <div class="menuBtnWrapper">
                <div class="row" style="margin: 3px 0px 0px 0px;">
                    <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0;">
                        <div class="innerMenu row" style="margin: 0px 3px 10px 3px;">
                            <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                <a href="/system/floor" class="btn menuBtn">@Messages("lang.system.floorManager")</a>
                            </div>
                        </div>
                        <div class="innerMenu row" style="margin: 0px 3px 10px 3px;">
                            <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                <a href="/system/floorMap" class="btn menuBtn">@Messages("lang.system.mapManager")</a>
                            </div>
                        </div>
                        <div class="innerMenu row" style="margin: 0px 3px 10px 3px;">
                            <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                <a href="/system/exb" class="btn menuBtn">@Messages("lang.system.exbManager")</a>
                            </div>
                        </div>
                        <div class="innerMenu row" style="margin: 0px 3px 0px 3px;">
                            <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                <a href="/system/exbSetup" class="btn menuBtn">@Messages("lang.system.exbViewerManager")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--現場情報表示部-->
            <div class="menuBottomBtnsDiv">
                <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                    <span class="menuBottomBtns">@user.currentPlaceName</span>
                </div>
            </div>
        </div>
    }
}
@if(user.services.contains("master")) {
    @if(
        (request.path contains "/tenant/region") ||
        (request.path contains "/tenant/regionList/") ||
        (request.path contains "/password")
    ) {
        <div style="margin: 20px 0px 30px 0px;">
            <div class="row text-center">
                <span class="currentTitle"><i class="fa fa-building"></i>&nbsp;@Messages("lang.sideMenu.title.tenantManagement")</span>
            </div>
        </div>
        <div class="menuBtnsDiv">
            <div class="menuBtnWrapper">
                <div class="row" style="margin: 3px 0px 0px 0px;">
                    <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0;">
                        <div class="innerMenu row" style="margin: 0px 3px 10px 3px;">
                            <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                <a href="/tenant/region" class="btn menuBtn">@Messages("lang.cms.placeManage.tabName")</a>
                            </div>
                        </div>
                        <div class="innerMenu row" style="margin: 0px 3px 0px 3px;">
                            <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                <a href="/password" class="btn menuBtn">@Messages("lang.cms.placeManage.changePassword.page.title")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--現場情報表示部-->
            <div class="menuBottomBtnsDiv">
                <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                    <span class="menuBottomBtns">@user.currentPlaceName</span>
                </div>
            </div>
        </div>
    }
}



<script type="text/javascript" src="@routes.MyAssets.js("site/preUrlCheck.js")"></script>