@()(implicit user: User, messages: Messages, request: RequestHeader)

@import controllers.routes

@if(request.path contains "/site/") {
    <div style="margin: 20px 0px 30px 0px;">
        <div class="row text-center">
            <span class="currentTitle"><i class="fa fa-eye"></i>&nbsp;@Messages("lang.sideMenu.title.temporaryMaterialManagement")</span>
        </div>
    </div>
    <div class="menuBtnsDiv">
        <div class="menuBtnWrapper">
            <div class="row" style="margin: 3px 0px 0px 0px;">
                <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0;">

                    <!--<div class="row" style="margin: 0px 3px 10px 3px;">-->
                        <!--<div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">-->
                            <!--<a href="/site/newItemCarReserve" class="btn menuBtn">「新仮設材予約」</a>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="row" style="margin: 0px 3px 10px 3px;">
                        <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                            <a href="/site/itemCarMaster" class="btn menuBtn">@Messages("lang.site.carMaster.page.title")</a>
                        </div>
                    </div>
                    <div class="row" style="margin: 0px 3px 10px 3px;">
                        <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                            <a href="/site/newItemCarReserve" class="btn menuBtn">@Messages("lang.site.carReserve.page.title")</a>
                        </div>
                    </div>
                    <div class="row" style="margin: 0px 3px 10px 3px;">
                        <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                            <a href="/site/itemCarCancel" class="btn menuBtn">@Messages("lang.site.carCancel.page.title")</a>
                        </div>
                    </div>
                    <div class="row" style="margin: 0px 3px 10px 3px;">
                        <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                            <a href="/site/itemOtherMaster" class="btn menuBtn">@Messages("lang.site.otherMaster.page.title")</a>
                        </div>
                    </div>
                    <div class="row" style="margin: 0px 3px 10px 3px;">
                        <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                            <a href="/site/itemOtherReserve" class="btn menuBtn">@Messages("lang.site.otherReserve.page.title")</a>
                        </div>
                    </div>
                    <div class="row" style="margin: 0px 3px 10px 3px;">
                        <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                            <a href="/site/itemOtherCancel" class="btn menuBtn">@Messages("lang.site.otherCancel.page.title")</a>
                        </div>
                    </div>
                    <div class="row" style="margin: 0px 3px 10px 3px;">
                        <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                            <a href="/site/unDetected" class="btn menuBtn">@Messages("lang.site.unDetected.page.title")</a>
                        </div>
                    </div>
                    <div class="row" style="margin: 0px 3px 10px 3px;">
                        <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                            <a href="/site/txTagManage" class="btn menuBtn">@Messages("lang.site.txTagManage.title")</a>
                        </div>
                    </div>
                    <div class="row" style="margin: 0px 3px 0px 3px;">
                        <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                            <a href="/site/workPlace" class="btn menuBtn">@Messages("lang.site.workPlace.page.title")</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if(user.services.contains("level2") || user.services.contains("level3") || user.services.contains("master") ) {
    @if(request.path contains "/analysis/") {
        <div style="margin: 20px 0px 30px 0px;">
            <div class="row text-center">
                <span class="currentTitle"><i class="fa fa-bar-chart"></i>&nbsp;@Messages("lang.sideMenu.title.analysis")</span>
            </div>
        </div>
        <div class="menuBtnsDiv">
            <div class="menuBtnWrapper">
                <div class="row" style="margin: 3px 0px 0px 0px;">
                    <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0;">
                        <div class="row" style="margin: 0px 3px 10px 3px;">
                            <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                <a href="/analysis/telemetry" class="btn menuBtn">@Messages("lang.analysis.telemetry.page.title")</a>
                            </div>
                        </div>
                        <div class="row" style="margin: 0px 3px 10px 3px;">
                            <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                <a href="/analysis/gateway" class="btn menuBtn">@Messages("lang.analysis.gateway.page.title")</a>
                            </div>
                        </div>
                        <div class="row" style="margin: 0px 3px 0px 3px;">
                            <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                <a href="/analysis/movementCar" class="btn menuBtn">@Messages("lang.analysis.movementCar.page.title")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @if(
        (request.path contains "/cms/itemCarManage") ||
        (request.path contains "/cms/itemOtherManage") ||
        (request.path contains "/cms/itemTypeManage") ||
        (request.path contains "/cms/companyManage") ||
        (request.path contains "/cms/accountManage")
    ) {
        <div style="margin: 20px 0px 30px 0px;">
            <div class="row text-center">
                <span class="currentTitle"><i class="fa fa-gear"></i>&nbsp;@Messages("lang.sideMenu.title.maintenance")</span>
            </div>
        </div>
        <div class="menuBtnsDiv">
            <div class="menuBtnWrapper">
                <div class="row" style="margin: 3px 0px 0px 0px;">
                    <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0;">
                        <div class="row" style="margin: 0px 3px 10px 3px;">
                            <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                <a href="/cms/itemCarManage" class="btn menuBtn">@Messages("lang.cms.itemCarManage.title")</a>
                            </div>
                        </div>
                        <div class="row" style="margin: 0px 3px 10px 3px;">
                            <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                <a href="/cms/itemOtherManage" class="btn menuBtn">@Messages("lang.cms.itemOtherManage.title")</a>
                            </div>
                        </div>
                        <div class="row" style="margin: 0px 3px 10px 3px;">
                            <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                <a href="/cms/itemTypeManage" class="btn menuBtn">@Messages("lang.cms.itemTypeManage.title")</a>
                            </div>
                        </div>
                        <div class="row" style="margin: 0px 3px 10px 3px;">
                            <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                <a href="/cms/companyManage" class="btn menuBtn">@Messages("lang.cms.companyManage.title")</a>
                            </div>
                        </div>
                        <div class="row" style="margin: 0px 3px 0px 3px;">
                            <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                <a href="/cms/accountManage" class="btn menuBtn">@Messages("lang.cms.accountManage.title")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
@if(user.services.contains("level3") || user.services.contains("master") ) {
    @if(
        (request.path contains "/cms/floorManage") ||
        (request.path contains "/manage/mapManager") ||
        (request.path contains "/cms/exbManage") ||
        (request.path contains "/manage/exbViewerManager")
    ) {
        <div style="margin: 20px 0px 30px 0px;">
            <div class="row text-center">
                <span class="currentTitle"><i class="fa fa-wrench"></i>&nbsp;@Messages("lang.sideMenu.title.systemManagement")</span>
            </div>
        </div>
        <div class="menuBtnsDiv">
            <div class="menuBtnWrapper">
                <div class="row" style="margin: 3px 0px 0px 0px;">
                    <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0;">
                        <div class="row" style="margin: 0px 3px 10px 3px;">
                            <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                <a href="/cms/floorManage" class="btn menuBtn">@Messages("lang.manage.floorManager")</a>
                            </div>
                        </div>
                        <div class="row" style="margin: 0px 3px 10px 3px;">
                            <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                <a href="/manage/mapManager" class="btn menuBtn">@Messages("lang.manage.mapManager")</a>
                            </div>
                        </div>
                        <div class="row" style="margin: 0px 3px 10px 3px;">
                            <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                <a href="/cms/exbManage" class="btn menuBtn">@Messages("lang.manage.exbManager")</a>
                            </div>
                        </div>
                        <div class="row" style="margin: 0px 3px 0px 3px;">
                            <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                <a href="/manage/exbViewerManager" class="btn menuBtn">@Messages("lang.manage.exbViewerManager")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
@if(user.services.contains("master")) {
    @if(
        (request.path contains "/cms/placeManage") ||
        (request.path contains "/cms/sortPlaceListWith/") ||
        (request.path contains "/change-password")
    ) {
        <div style="margin: 20px 0px 30px 0px;">
            <div class="row text-center">
                <span class="currentTitle"><i class="fa fa-building"></i>&nbsp;@Messages("lang.sideMenu.title.tenantManagement")</span>
            </div>
        </div>
        <div class="menuBtnsDiv">
            <div class="menuBtnWrapper">
                <div class="row" style="margin: 3px 0px 0px 0px;">
                    <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0;">
                        <div class="row" style="margin: 0px 3px 10px 3px;">
                            <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                <a href="/cms/placeManage" class="btn menuBtn">@Messages("lang.cms.placeManage.tabName")</a>
                            </div>
                        </div>
                        <div class="row" style="margin: 0px 3px 0px 3px;">
                            <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                <a href="/change-password" class="btn menuBtn">@Messages("lang.cms.placeManage.changePassword.page.title")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
