@()(implicit user: User, request: RequestHeader)

@import controllers.routes

<div class="row">
    <div class="col-xs-10 col-sm-10 col-md-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1" style="padding:0;">
        <!-- ボタン群の囲い -->
        <div class="menuBtnWrapper">
            <!-- 上部 -->
            <div>
                <div class="menuBtnsDiv">
                    <div class="row">
                        <span class="menuTitle">作業車管理画面</span>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-xs-6 col-sm-6 col-md-6" style="padding:0;">
                            @if(request.path contains routes.CarSummery.index.path) {
                                <a class="btn btn-primary disabled menuBtn menuBtnSelected">当日</a>
                            }else{
                                <a href="@routes.CarSummery.index.path" class="btn btn-primary menuBtn">当日</a>
                            }
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6" style="padding:0;">
                            @if(request.path contains routes.CarReserve.index.path) {
                                <a class="btn btn-primary disabled menuBtn menuBtnSelected">予約</a>
                            }else{
                                <a href="@routes.CarReserve.index.path" class="btn btn-primary menuBtn">予約</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- 下部 -->
            <div>
                <div style="margin: 9px 25px 9px 25px;">
                    @if(request.path contains routes.OtherItem.index.path) {
                        <a class="btn btn-primary otherItemBtn disabled menuBtnSelected">その他仮設材利用状況</a>
                    }else{
                        <a href="@routes.OtherItem.index.path" class="btn btn-primary otherItemBtn">その他仮設材利用状況</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

