@()(implicit user: User, messages: Messages, request: RequestHeader)

@import controllers.routes

<div class="navbarCorner navbar navbar-default navbar-fixed-top col-xs-3 col-sm-3 col-md-2 col-lg-2">
    <div class="navbar-brand">
        <div>
            <span>@Messages("system.name")</span>
        </div>
    </div>
</div>
<div class="navbar navbar-default navbar-fixed-top col-xs-9 col-sm-9 col-md-10 col-lg-10 col-xs-offset-3 col-sm-offset-3 col-md-offset-2 col-lg-offset-2"
        style="padding:0;">
    <ul class="nav navbar-nav">
        <li class="pull-left">
            @if(request.path == routes.CarSummery.index.path){
                <a class="text-center tabSelected">@Messages("lang.navbar.link.name.carSummery")</a>
            }else{
                <a href="@routes.CarSummery.index.path" class="text-center tab">@Messages("lang.navbar.link.name.carSummery")</a>
            }
        </li>
        <li class="pull-left">
            @if(request.path == routes.CarReserve.index.path){
                <a class="text-center tabSelected" style="margin-left:1px;">@Messages("lang.navbar.link.name.carReserve")</a>
            }else{
                <a href="@routes.CarReserve.index.path" class="text-center tab" style="margin-left:1px;">@Messages("lang.navbar.link.name.carReserve")</a>
            }
        </li>
        <li class="pull-left">
            @if(request.path == routes.OtherItem.index.path){
                <a class="text-center tabSelected" style="margin-left:1px;">@Messages("lang.navbar.link.name.otherItem")</a>
            }else{
                <a href="@routes.OtherItem.index.path" class="text-center tab" style="margin-left:1px;">@Messages("lang.navbar.link.name.otherItem")</a>
            }
        </li>
        <li class="pull-left">
            @if(request.path contains "/cms/"){
                <a class="text-center tabSelected" style="margin-left:1px;">@Messages("lang.navbar.link.name.cms")</a>
            }else{
                @if(user.isSysMng){
                    <a href="@controllers.cms.routes.PlaceManage.detail.path" class="text-center cmsTab" style="margin-left:1px;">@Messages("lang.navbar.link.name.cms")</a>
                }else{
                    @request.session.get("cmsLogged").map { data =>
                        <a href="@controllers.cms.routes.PlaceManage.detail.path" class="text-center cmsTab" style="margin-left:1px;">@Messages("lang.navbar.link.name.cms")</a>
                    }.getOrElse {
                        <a href="javascript:showCmsLoginModal();" class="text-center cmsTab" style="margin-left:1px;">@Messages("lang.navbar.link.name.cms")</a>
                    }
                }
            }
        </li>
    </ul>
    <div class="text-right" style="width: 100%;position: absolute;">
        <span>@Messages("lang.navbar.name.loginId")：@user.email</span>
    </div>
    <br/>
    <a class="btn btn-navbar btn-signout" href="/signout">@Messages("lang.navbar.link.name.signout")</a>
</div>
