@()(implicit user: User, messages: Messages, request: RequestHeader)

@import controllers.routes

<div id="pcTabletNav" class="row">
    <div class="navbarCorner col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="navbar-brand">
            <div>
                <span>@Messages("system.name")</span>
            </div>
        </div>
    </div>
    <div class="navbar col-xs-10 col-sm-10 col-md-10 col-lg-10" style="padding:0px;">
        <div class="row" style="margin:0px;height:20px;">
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="padding:0px;height:20px;">
                <div class="hidden text-left" style="margin-top:5px;margin-left:10px;font-size:90%;overflow:hidden;white-space:nowrap;">
                    @user.currentPlaceName
                </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding:0px;height:20px;">
                <div class="text-right" style="margin-top:5px;margin-right:10px;font-size:80%;overflow:hidden;white-space:nowrap;">
                    @{user.name}&nbsp;@{user.email}
                </div>
            </div>
        </div>
        <div class="row" style="margin:0px;height:34px;">
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" style="padding:0px;height:34px;">
                <ul class="nav navbar-nav" style="font-size:80%;margin-left: -2px;">
                    <li class="pull-left tabFrame" style="margin-left:2px">
                        @if(request.path contains "/site/") {
                        <a class="text-center tabSelected menu-title"><i class="fa fa-eye"></i>&nbsp;@Messages("lang.navbar.tab.temporaryMaterialManagement")</a>
                        }else{
                        <a href="/site/itemCarMaster" class="tabLoading text-center tab menu-title"><i class="fa fa-eye"></i>&nbsp;@Messages("lang.navbar.tab.temporaryMaterialManagement")</a>
                        }
                    </li>
                    @if(user.services.contains("level2") || user.services.contains("level3") || user.services.contains("master") ) {
                    <li class="pull-left tabFrame" style="margin-left:2px">
                        @if(request.path contains "/analysis/") {
                        <a class="text-center tabSelected"><i class="fa fa-bar-chart"></i>&nbsp;@Messages("lang.navbar.tab.analysis")</a>
                        }else{
                        <a href="/analysis/telemetry" class="tabLoading text-center tab"><i class="fa fa-bar-chart"></i>&nbsp;@Messages("lang.navbar.tab.analysis")</a>
                        }
                    </li>
                    <li class="pull-left tabFrame" style="margin-left:2px">
                        @if(
                        (request.path contains "/cms/itemCarManage") ||
                        (request.path contains "/cms/itemOtherManage") ||
                        (request.path contains "/cms/itemTypeManage") ||
                        (request.path contains "/cms/companyManage") ||
                        (request.path contains "/cms/accountManage")
                        ) {
                        <a class="text-center tabSelected"><i class="fa fa-gear"></i>&nbsp;@Messages("lang.navbar.tab.maintenance")</a>
                        }else{
                        <a href="/cms/itemCarManage" class="tabLoading text-center tab"><i class="fa fa-gear"></i>&nbsp;@Messages("lang.navbar.tab.maintenance")</a>
                        }
                    </li>
                    }
                    @if(user.services.contains("level3") || user.services.contains("master") ) {
                    <li class="pull-left tabFrame" style="margin-left:2px">
                        @if(
                        (request.path contains "/manage/floor") ||
                        (request.path contains "/manage/floorMap") ||
                        (request.path contains "/cms/exbManage") ||
                        (request.path contains "/manage/exbViewerManager")
                        ) {
                        <a class="text-center tabSelected"><i class="fa fa-wrench"></i>&nbsp;@Messages("lang.navbar.tab.systemManagement")</a>
                        }else{
                        <a href="/manage/floor" class="tabLoading text-center tab"><i class="fa fa-wrench"></i>&nbsp;@Messages("lang.navbar.tab.systemManagement")</a>
                        }
                    </li>
                    }
                    @if(user.services.contains("master")) {
                    <li class="pull-left tabFrame" style="margin-left:2px">
                        @if(
                        (request.path contains "/tenant/region") ||
                        (request.path contains "/tenant/regionList/") ||
                        (request.path contains "/password")
                        ) {
                        <a class="text-center tabSelected"><i class="fa fa-building"></i>&nbsp;@Messages("lang.navbar.tab.tenantManagement")</a>
                        }else{
                        <a href="/tenant/region" class="tabLoading text-center tab"><i class="fa fa-building"></i>&nbsp;@Messages("lang.navbar.tab.tenantManagement")</a>
                        }
                    </li>
                    }
                </ul>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="padding:0px;height:34px;">
                <div class="text-right" style="margin-right:10px;">
                    <a class="btn btn-navbar btn-signout" href="/signout">@Messages("lang.navbar.link.name.signout")</a>
                </div>
            </div>
        </div>
    </div>
</div>
@if(
    (request.path contains "/site/workPlace") ||
    (request.path contains "/manage/floorMap") ||
    (request.path contains "/manage/exbViewerManager")
) {
    @views.html.templates.sideBar()
}
