@()(implicit user: User, request: RequestHeader)

@import controllers.routes

<div class="navbarCorner navbar navbar-default navbar-fixed-top col-xs-3 col-sm-3 col-md-2 col-lg-2">
    <div class="navbar-brand">
        <div>
            <span>仮設材管理システム</span>
        </div>
    </div>
</div>
<div class="navbar navbar-default navbar-fixed-top col-xs-9 col-sm-9 col-md-10 col-lg-10 col-xs-offset-3 col-sm-offset-3 col-md-offset-2 col-lg-offset-2"
        style="padding:0;">
    <ul class="nav navbar-nav">
        <li class="pull-left">
            @if(request.path == routes.CarSummery.index.path){
                <a class="text-center tabSelected">作業車当日</a>
            }else{
                <a href="@routes.CarSummery.index.path" class="text-center tab">作業車当日</a>
            }
        </li>
        <li class="pull-left">
            @if(request.path == routes.CarReserve.index.path){
                <a class="text-center tabSelected" style="margin-left:1px;">作業車予約</a>
            }else{
                <a href="@routes.CarReserve.index.path" class="text-center tab" style="margin-left:1px;">作業車予約</a>
            }
        </li>
        <li class="pull-left">
            @if(request.path == routes.OtherItem.index.path){
                <a class="text-center tabSelected" style="margin-left:1px;">仮設材利用状況</a>
            }else{
                <a href="@routes.OtherItem.index.path" class="text-center tab" style="margin-left:1px;">仮設材利用状況</a>
            }
        </li>
        <li class="pull-left">
            @if(request.path contains "/cms/"){
                <a class="text-center tabSelected" style="margin-left:1px;">管理ページ</a>
            }else{
                @if(user.isSysMng){
                    <a href="@controllers.cms.routes.PlaceManage.detail.path" class="text-center cmsTab" style="margin-left:1px;">管理ページ</a>
                }else{
                    @request.session.get("cmsLogged").map { data =>
                        <a href="@controllers.cms.routes.PlaceManage.detail.path" class="text-center cmsTab" style="margin-left:1px;">管理ページ</a>
                    }.getOrElse {
                        <a href="javascript:showCmsLoginModal();" class="text-center cmsTab" style="margin-left:1px;">管理ページ</a>
                    }
                }
            }
        </li>
    </ul>
    <div class="text-right" style="width: 100%;position: absolute;">
        <span>ログインID：@user.email</span>
    </div>
    <br/>
    <a class="btn btn-navbar btn-signout" href="/signout">ログアウト</a>
</div>
