@()(implicit user: User, messages: Messages, request: RequestHeader)

@import controllers.routes

<div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 side-area">
    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1" style="padding:0;">
            <!-- タイトル -->
            <div style="margin: 20px 0px 30px 0px;">
                <div class="row text-center">
                    <span class="currentTitle">
                        @if(request.path == routes.CarSummery.index.path) {
                            @Messages("lang.sideMenu.mainTitle.carSummery")
                        }
                        @if(request.path == routes.CarReserve.index.path) {
                            @Messages("lang.sideMenu.mainTitle.carReserve")
                        }
                        @if(request.path == routes.OtherItem.index.path) {
                            @Messages("lang.sideMenu.mainTitle.otherItem")
                        }
                        @if(request.path contains "/cms/") {
                            @Messages("lang.sideMenu.mainTitle.cms")
                        }
                    </span>
                </div>
            </div>
            @if(!(request.path contains "/cms/")) {
            <!-- 上部 -->
            <div class="menuBtnsDiv">
                <div class="menuBtnWrapper">
                    <div class="row text-center">
                        <span class="menuTitle">@Messages("lang.sideMenu.menuTitle")</span>
                    </div>
                    <div class="row" style="margin: 10px 0px 0px 0px;">
                        <div class="text-center col-xs-6 col-sm-6 col-md-6" style="padding:0;">
                            <div class="row" style="margin: 0px;">
                                <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                    <a href="@routes.CarSummery.index.path" class="btn menuBtn">@Messages("lang.sideMenu.link.name.carSummery")</a>
                                </div>

                            </div>
                        </div>
                        <div class="text-center col-xs-6 col-sm-6 col-md-6" style="padding:0;">
                            <div class="row" style="margin: 0px;">
                                <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                    <a href="@routes.CarReserve.index.path" class="btn menuBtn">@Messages("lang.sideMenu.link.name.carReserve")</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
            <!-- 下部 -->
            @if(!(request.path contains "/cms/")) {
            <div class="menuBtnsDiv">
                <div class="menuBtnWrapper">
                    <div class="row" style="margin: 10px 0px 0px 0px;">
                        <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0;">
                            <div class="row" style="margin: 0px 0px 60px 0px;">
                                <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                    <a href="@routes.OtherItem.index.path" class="btn menuBtn">
                                        @Messages("lang.sideMenu.link.name.otherItem")
                                    </a>
                                </div>
                            </div>
                            <div class="row" style="margin: 0px;">
                                <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                    @if(user.isSysMng){
                                        <a href="/cms/placeManage/detail" class="btn cmsBtn">@Messages("lang.sideMenu.link.name.cms")</a>
                                    }else{
                                        @request.session.get("cmsLogged").map { data =>
                                            <a href="/cms/placeManage/detail" class="btn cmsBtn">@Messages("lang.sideMenu.link.name.cms")</a>
                                        }.getOrElse {
                                            <a href="javascript:showCmsLoginModal();" class="btn cmsBtn">@Messages("lang.sideMenu.link.name.cms")</a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
            @if((request.path contains "/cms/") && !(request.path contains "/cms/sortPlaceListWith")) {
            <div class="menuBtnsDiv">
                <div class="menuBtnWrapper">
                    <div class="row" style="margin: 10px 0px 0px 0px;">
                        <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0;">
                            <div class="row" style="margin: 0px 0px 10px 0px;">
                                <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                    <a href="/cms/placeManage/detail" class="btn menuBtn">
                                        @Messages("lang.sideMenu.link.name.cms.placeManage")
                                    </a>
                                </div>
                            </div>
                            <div class="row" style="margin: 0px 0px 10px 0px;">
                                <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                    <a href="/cms/floorManage" class="btn menuBtn">
                                        @Messages("lang.sideMenu.link.name.cms.floorManage")
                                    </a>
                                </div>
                            </div>
                            <div class="row" style="margin: 0px 0px 10px 0px;">
                                <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                    <a href="/cms/carManage" class="btn menuBtn">
                                        @Messages("lang.sideMenu.link.name.cms.carManage")
                                    </a>
                                </div>
                            </div>
                            <div class="row" style="margin: 0px 0px 10px 0px;">
                                <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                    <a href="/cms/itemManage" class="btn menuBtn">
                                        @Messages("lang.sideMenu.link.name.cms.itemManage")
                                    </a>
                                </div>
                            </div>
                            <div class="row" style="margin: 0px 0px 10px 0px;">
                                <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                    <a href="/cms/companyManage" class="btn menuBtn">
                                        @Messages("lang.sideMenu.link.name.cms.companyManage")
                                    </a>
                                </div>
                            </div>
                            <div class="row" style="margin: 0px 0px 10px 0px;">
                                <div class="text-center col-xs-12 col-sm-12 col-md-12" style="padding:0px 3px;">
                                    <a href="/cms/txTagManage" class="btn menuBtn">
                                        @Messages("lang.sideMenu.link.name.cms.txTagManage")
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>

