@()(implicit user: User, messages: Messages, request: RequestHeader)

@import controllers.routes

<header id="header" class="drawer drawer--left">
    <button type="button" class="drawer-toggle drawer-hamburger" style="margin-top:-3px">
        <i class="fa fa-bars" aria-hiden="true"></i>
        <span class="sr-only">toggle navigation</span>
    </button>
    <nav class="drawer-nav" role="navigation">
        <div class="drawer-menu">
            @views.html.templates.innerMenu()
        </div>
    </nav>
</header>
