@(
exbViewerForm: Form[ExbMasterData],
exbViewer: Seq[ExbAll],
mapViewer: Seq[FloorAll],
viewType: Seq[ViewType]
)(implicit user: User, messages: Messages, request: RequestHeader, flash: Flash)

@import controllers.routes
@import helper._


<!doctype html>
<html lang="ja">
<head>
@templates.htmlHead(title = Messages("lang.manage.exbViewerManager"))
<style type="text/css">
    .navbar-brand {
        margin-left: 5px;
        text-align: center;
    }
    div#pcTabletNav {
        margin:0px;
    }
</style>
	<link rel="stylesheet" href="@routes.MyAssets.css("cms/itemCarManage.css")"/>
<script></script>
</head>

<body>
	<!--loading部-->
	@views.html.templates.totalLoading()
	<!-- ナビバー  -->
	@views.html.templates.navBar()
	<div class="top__btn--area mainSpace">
		<div id ="top-title" class = "top__btn--text form-group">
			@Messages("lang.manage.exbViewerManager")
		</div>
		<div class = "top__map__btn--area">

			<button id="update-btn" class="btn__type default__btn">@Messages("lang.btn.update")</button>
			<button id="reset-btn" class="btn__type default__csv--btn">@Messages("lang.btn.reload")</button>

			<select id="floor-category" class=" manager__data--floor">
				@mapViewer.zipWithIndex.map { case(map, i) =>
					<option value="@map.display_order" @{if(i==0) "selected" else ""}>@map.floor_name</option>
				}
			</select>
		</div>

	</div>
	<!-- exbマスター -->
	<div class="db__common--frame hidden" style="margin-top: 642px;">
		<table class="table"  >
			<tbody>

			@exbViewer.zipWithIndex.map { case(viewer, i) =>
			<tr class = "exbViewer">
				<td class="item" id="viewer_id-@i">@viewer.exb_id</td>
				<td class="item" id="viewer_devId-@i">@viewer.exb_device_id</td>
				<td class="item" id="viewer_visible-@i">@viewer.exb_view_flag</td>
				<td class="item" id="viewer_pos_type-@i">@viewer.view_type_name</td>
				<td class="item" id="viewer_pos_x-@i">@viewer.exb_pos_x</td>
				<td class="item" id="viewer_pos_y-@i">@viewer.exb_pos_y</td>
				<td class="item" id="viewer_pos_margin-@i">@viewer.view_tx_margin</td>
				<td class="item" id="viewer_pos_count-@i">@viewer.view_tx_count</td>
				<td class="item" id="viewer_pos_floor-@i">@viewer.floor_id</td>
				<td class="item-@viewer.exb_id" id="viewer_pos_display_order-@i">@viewer.display_order</td>
				<td class="item" id="viewer_pos_size-@i">@viewer.view_tx_size</td>
				<td class="item" id="exb_pos_name-@i">@viewer.exb_pos_name</td>
				<td class="item" id="exb_id-@i">@viewer.exb_id</td>
			</tr>
			}
			</tbody>
		</table>
	</div>

	<div class="manager__data--frame">

		<form id="viewForm" method="post" action="">

			<div class="row tableRow">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0;">
					<div class="table-responsive-body">
						<table class="table table-bordered table-condensed itemTable">
							<thead>
							<div class = "alert__result--frame">
								@tags.alertFromRequestDbResult(request, "resultOK")
								@tags.alertFromRequestDbResult(request, "resultNG")
							</div>

							<tr>
								<th colspan="8" class="hidden tableTitleTh">@Messages("lang.site.itemCarMaster.page.title")</th>
							</tr>
							<tr>
								<th class="tableTh" style="width: 10%;text-align:  center;">@Messages("lang.manage.exb.exbId")</th>
								<th class="tableTh" style="width: 10%;text-align:  center;">@Messages("lang.manage.exb.deviceId")</th>
								<th class="tableTh" style="width: 10%;text-align:  center;">@Messages("lang.manage.exb.show")</th>
								<th class="tableTh" style="width: 10%;text-align:  center;">@Messages("lang.manage.exb.floor")</th>
								<th class="tableTh" style="width: 10%;text-align:  center;">@Messages("lang.manage.exb.type")</th>
								<th class="tableTh" style="width: 10%;text-align:  center;">@Messages("lang.manage.exb.count")</th>
								<th class="tableTh" style="width: 10%;text-align:  center;">@Messages("lang.manage.exb.x")</th>
								<th class="tableTh" style="width: 10%;text-align:  center;">@Messages("lang.manage.exb.y")</th>
								<th class="tableTh" style="width: 10%;text-align:  center;">@Messages("lang.manage.exb.size")</th>
								<th class="tableTh" style="width: 10%;text-align:  center;">@Messages("lang.manage.exb.margin")</th>
							</tr>
							</thead>
							<tbody>
							@exbViewer.zipWithIndex.map { case(viewer, i) =>
							<tr class="rowColor rowHover pos-search hidden" id = "viewer-list-@viewer.exb_id" style="display:table-row;">
								<td class="hidden itemTd text-center ">
									<input class="hidden form-control input-sm" type="text" id="input_viewer_id-@viewer.exb_id" value="@viewer.exb_id" name="viewerId[@i]" >
								</td>

								<!-- viewer_exb_id  -->
								<td class="itemTd text-center ">
									<input class="hidden form-control input-sm" type="text" id="input_viewer_pos_num-@viewer.exb_id" value="@viewer.exb_id" name="viewerPosNum[@i]" >
									<select id="input-num-category-@viewer.exb_id" class="exb__select--category inputNum" style="width: 100%;">
										@exbViewer.zipWithIndex.map { case(viewer2, j) =>
										<option class ="" value="@viewer2.exb_id"  @{if(viewer2.exb_id == viewer.exb_id) "selected" else ""}>@viewer2.exb_id</option>
										}
									</select>
								</td>
								<td class="itemTd text-center ">
									@viewer.exb_device_id
								</td>
								<!-- viewer_visible  -->
								<td class="itemTd text-center ">
									<input class="hidden form-control input-sm" type="text"　data-type = "visible-form" id="input_viewer_visible-@viewer.exb_id" value="@viewer.exb_view_flag" name="viewerVisible[@i]">
									<select id="input-visible-category-@i" class="exb__select--category inputVisible" style="width: 100%;">
										<option value="true" @{if(viewer.exb_view_flag) "selected" else ""}>表示</option>
										<option value="false"  @{if(!viewer.exb_view_flag) "selected" else ""}>非表示</option>
									</select>
								</td>
								<!-- viewer_pos_floor  -->
								<td class="itemTd text-center ">
									<input class="hidden form-control input-sm" type="text" data-type = "floor-form" id="input_viewer_pos_floor-@viewer.exb_id" value="@viewer.floor_id" name="viewerPosFloor[@i]">
									<select id="input-floor-category-@viewer.exb_id" class="exb__select--category inputFloor" style="width: 100%;">
										@mapViewer.zipWithIndex.map { case(map, i) =>
										<option class="dataFloorId-@map.display_order" data-floorId="@map.floor_id" value="@map.display_order"  @{if(map.display_order == viewer.floor_id.toInt) "selected" else ""}>@map.floor_name</option>
										}
									</select>
								</td>
								<!-- viewer_pos_type  -->
								<td class="itemTd text-center ">
									<input class="hidden form-control input-sm" type="text" data-type = "type-form" id="input_viewer_pos_type-@viewer.exb_id" value="@viewer.view_type_id" name="viewerPosType[@i]">
									<input class="hidden form-control input-sm " type="text" data-type = "type-form" id="input_viewer_pos_type_name-@viewer.exb_id" value="@viewer.view_type_name">
									<select id="input-view-category-@i" class="exb__select--category inputPosType" style="width: 100%;">
										@viewType.zipWithIndex.map { case(view, i) =>
										<option value="@view.view_type_id" data-typename="@view.view_type_name"  @{if(view.view_type_name == viewer.view_type_name) "selected" else ""}>@view.view_type_name</option>
										}
									</select>
								</td>
								<!-- viewer_pos_count  -->
								<td class="itemTd text-center ">
									<input class="form-control input-sm" type="text" data-type = "count-form" id="input_viewer_pos_count-@viewer.exb_id" value="@viewer.view_tx_count" name="viewerPosCount[@i]">
								</td>
								<!-- viewer_pos_x  -->
								<td class="itemTd text-center ">
									<input class="form-control input-sm" type="text" id="input_viewer_pos_x-@viewer.exb_id" value="@viewer.exb_pos_x" name="viewerPosX[@i]">
								</td>
								<!-- viewer_pos_y  -->
								<td class="itemTd text-center ">
									<input class="form-control input-sm" type="text" id="input_viewer_pos_y-@viewer.exb_id" value="@viewer.exb_pos_y" name="viewerPosY[@i]">
								</td>
								<!-- viewer_pos_size  -->
								<td class="itemTd text-center ">
									<input class="form-control input-sm" type="text" id="input_viewer_pos_size-@viewer.exb_id" value="@viewer.view_tx_size" name="viewerPosSize[@i]">
								</td>
								<!-- viewer_pos_margin  -->
								<td class="itemTd text-center ">
									<input class="form-control input-sm" type="text" id="input_viewer_pos_margin-@viewer.exb_id" value="@viewer.view_tx_margin" name="viewerPosMargin[@i]">
								</td>
							</tr>
							}
							</tbody>
						</table>
					</div>
				</div>
			</div>

			@CSRF.formField
		</form>



	</div>
	<div class="manager__main--frame" id ="map__main--frame">
		@mapViewer.zipWithIndex.map { case(map, i) =>
		<div id="beaconMap-@map.display_order" class = "hidden level level--@i layer-beacon" aria-label="Level @i">
			<div class="wrapper__img--canvas" >
				<img id ="imgFrame-@i" class="img__map__manager--style" src=@map.floor_map_image />
			</div>
		</div>
		}
	</div>

	<script type="text/javascript" src="@routes.MyAssets.js("manage/exbViewerManager.js")"></script>

</body>
</html>


