@import models.manage.ItemCarViewer
@import models.manage.ItemTypeOrder
@(ITEM_TYPE_FILTER: Int
, carList: Seq[ItemCarViewer]
, itemTypeList: Seq[ItemTypeOrder]
, placeId: Int
)(implicit user: User, messages: Messages, request: RequestHeader, flash: Flash)

@import controllers.routes
@import helper._

<!doctype html>
<html lang="ja">
<head>
    @templates.htmlHead(title = Messages("lang.manage.ItemCar.title"))
    <link rel="stylesheet" href="@routes.MyAssets.css("manage/itemCar.css")"/>
    <script></script>
</head>
<body>
    <!-- content -->
    <div class="container">
        <!--loading部-->
        @views.html.templates.totalLoading()
        <!-- ナビバー  -->
        @views.html.templates.navBar()
        <div class="row">
            <!-- サイドメニュー -->
            @views.html.templates.sideMenu()
            <span class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
              <!-- メッセージ -->
              @views.html.templates.msgDiv()
            </span>
            <!-- メイン -->
            <div class="mainSpace col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <!-- 画面題字 -->
                <div class="form-group" style="font-weight:bold;font-size:19px;margin:15px 0px;">
                    @Messages("lang.manage.ItemCar.page.title")
                </div>
                <!-- テーブルのROW -->
                <div class="row tableRow">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0;">
                        <div class="table-responsive-body">
                            <table class="table table-bordered table-condensed itemTable">
                                <thead>
                                    <tr class ="hidden">
                                        <th colspan="7" class="tableTitleTh">@Messages("lang.manage.ItemCar.car.list.header.title")</th>
                                    </tr>
                                    <tr>
                                        <th class="tableTh carIdTh">@Messages("lang.manage.ItemCar.car.list.header.carId")</th>
                                        <th class="tableTh carTagIdTh">@Messages("lang.manage.ItemCar.car.list.header.carTagId")</th>
                                        <th class="tableTh carKeyTagIdTh">@Messages("lang.manage.ItemCar.car.list.header.carKeyTagId")</th>
                                        <th class="tableTh carTypeNameTh">@Messages("lang.manage.ItemCar.car.list.header.carType")</th>
                                        <th class="tableTh carNameTh">@Messages("lang.manage.ItemCar.car.list.header.carName")</th>
                                        <th class="tableTh carNoTh">@Messages("lang.manage.ItemCar.car.list.header.carNo")</th>
                                        <th class="tableTh carNoteTh">@Messages("lang.manage.ItemCar.car.list.header.carNote")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for(car <- carList){
                                        <tr class="rowColor rowHover" data-carId="@car.itemCarId" id="@car.itemCarId">
                                            <td class="itemTd text-center carId">@car.itemCarId</td>
                                            <td class="itemTd text-center carBtxId">@car.itemCarBtxId</td>
                                            @if(car.itemCarKeyBtxId == -1){
                                                <td class="itemTd text-center carKeyBtxId">無</td>
                                            }else{
                                                <td class="itemTd text-center carKeyBtxId">@car.itemCarKeyBtxId</td>
                                            }
                                            <td class="itemTd text-center carTypeName">@car.itemTypeName</td>
                                            <td hidden class="itemTd text-center carTypeId">@car.itemTypeId</td>
                                            @for(itemTypeOrder <- itemTypeList){
                                                @if(itemTypeOrder.item_type_id == car.itemTypeId){
                                                    <td hidden class="itemTd text-center itemTypeOrder">@itemTypeOrder.item_type_order</td>
                                                    <td hidden class="itemTd text-center itemTypeCategoryid">@itemTypeOrder.item_type_category_id</td>
                                                }
                                            }
                                            <td class="itemTd text-center carName">@car.itemCarName</td>
                                            <td class="itemTd text-center carNo">@car.itemCarNo</td>
                                            <td class="itemTd text-center carNote">@car.itemCarNote</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- ボタン-->
                <div class="row tableRow" style="margin-top: 10px;">
                    <div class="text-right col-xs-4 col-sm-4 col-md-4" style="padding:0;">
                        <a id = "editCarBtn" href="javascript:showInputModal(false);" class="btn link">@Messages("lang.manage.ItemCar.car.button.editCar")</a>
                    </div>
                    <div class="text-center col-xs-4 col-sm-4 col-md-4" style="padding:0;">
                        <a href="javascript:showInputModal(true);" class="btn link">@Messages("lang.manage.ItemCar.car.button.addCar")</a>
                    </div>
                    <div class="text-left col-xs-4 col-sm-4 col-md-4" style="padding:0;">
                        <a href="javascript:showDeleteModal();" class="btn link">@Messages("lang.manage.ItemCar.car.button.deleteCar")</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="@routes.MyAssets.js("manage/itemCar.js")"></script>
    <script></script>

    <!-- 更新モーダル画面 -->
    <div class="modal" id="inputModal" tabindex="-1" role="dialog" aria-labelledby="inputModalLabel" aria-hidden="true" data-show="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="carForm" name="carForm" enctype="multipart/form-data" class="form-horizontal" method="post" action="@controllers.manage.routes.ItemCarController.update.path">
                    @CSRF.formField
                    <input type="hidden" name="inputPlaceId" value="@placeId">
                    <input type="hidden" id="inputCarId" name="inputCarId">
                    <input type="hidden" id="inputCarTypeId" name="inputCarTypeId">
                    <div class="modal-header" style="">@Messages("lang.manage.ItemCar.carUpdate.popup.name")</div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-xs-5">@Messages("lang.manage.ItemCar.carUpdate.popup.carTypeName")</label>
                            <select id="car_type" style="height: 30px; width: 120px;">
                                <!--仮設材種別テーブルから検索フィルタを設置-->
                                @itemTypeList.zipWithIndex.map { case(itemType, i) =>
                                    <option data-categoryId="@itemType.item_type_category_id" value="@itemType.item_type_id">@itemType.item_type_name</option>
                                }
                            </select>
                            <input class="hidden form-control input-sm" type="text" id="inputCarTypeName" name="inputCarTypeName" value="@ITEM_TYPE_FILTER">
                            <input type="hidden" id="inputCarTypeCategoryId" name="inputCarTypeCategoryId">
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">@Messages("lang.manage.ItemCar.carUpdate.popup.carBtxId")</label>
                            <div class="col-xs-2" style="padding-left: 0px;padding-right: 0px;">
                                <input type="text" size="3" name="inputCarBtxId" id="inputCarBtxId" class="form-control" placeholder="@Messages("lang.manage.ItemCar.carUpdate.popup.carBtxId.placeholder")">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">@Messages("lang.manage.ItemCar.carUpdate.popup.carKeyBtxId")</label>
                            <div class="col-xs-2" style="padding-left: 0px;padding-right: 0px;">
                                <input type="text" name="inputCarKeyBtxIdDsp" id="inputCarKeyBtxIdDsp" class="form-control" placeholder="@Messages("lang.manage.ItemCar.carUpdate.popup.carKeyBtxId.placeholder")">
                                <input type="hidden" name="inputCarKeyBtxId" id="inputCarKeyBtxId" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">@Messages("lang.manage.ItemCar.carUpdate.popup.carName")</label>
                            <div class="col-xs-5" style="padding-left: 0px;padding-right: 0px;">
                                <input type="text" name="inputCarName" id="inputCarName" class="form-control" placeholder="@Messages("lang.manage.ItemCar.carUpdate.popup.carName.placeholder")">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">@Messages("lang.manage.ItemCar.carUpdate.popup.carNo")</label>
                            <div class="col-xs-2" style="padding-left: 0px;padding-right: 0px;">
                                <input type="text" name="inputCarNo" id="inputCarNo" class="form-control" placeholder="@Messages("lang.manage.ItemCar.carUpdate.popup.carNo.placeholder")">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">@Messages("lang.manage.ItemCar.carUpdate.popup.carNote")</label>
                            <div class="col-xs-2" style="padding-left: 0px;padding-right: 0px;">
                                <input type="text" name="inputCarNote" id="inputCarNote" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-xs-6 text-center">
                            <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("cancel")</button>
                        </div>
                        <div class="col-xs-6 text-center">
                            <button id="carUpdateFooter"  type="submit" class="text-center btn btn-primary hidden">@Messages("update")</button>
                            <button id="carRegisterFooter"  type="submit" class="text-center btn btn-primary hidden">@Messages("registration")</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 削除モーダル画面 -->
    <div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" data-show="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="deleteForm" name="deleteForm" class="form-horizontal" method="post" enctype="multipart/form-data" action="@controllers.manage.routes.ItemCarController.delete.path">
                    @CSRF.formField
                    <input type="hidden" id="deleteCarId" name="deleteCarId">
                    <input type="hidden" id="deleteCarTypeId" name="deleteCarTypeId">
                    <div class="modal-header">@Messages("lang.manage.ItemCar.carDelete.popup.title")</div>
                    <div class="modal-body">
                        <div class="text-center">
                            @Html(Messages("lang.manage.ItemCar.carDelete.popup.message").replaceAll("(\r\n|\r|\n)","<br>"))
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-xs-6 text-center">
                            <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("cancel")</button>
                        </div>
                        <div class="col-xs-6 text-center">
                            <a href="javascript:deleteCar();" class="text-center btn btn-danger">@Messages("delete")</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
