@(mapViewerForm: Form[MapViewerData],mapViewer: Seq[MapViewer])(implicit user: User, messages: Messages, request: RequestHeader, flash: Flash)

@import controllers.routes
@import helper._


<!doctype html>
<html lang="ja">
<head>
    @templates.htmlHead(title = Messages("lang.cms.carManage.title"))
    <script type="text/javascript" src="@routes.MyAssets.js("manage/map_manager.js")"></script>
    <script></script>
</head>

<body>

    @views.html.templates.navBar()

    @mapViewerForm.globalError.map { error =>
    @tags.alert(error.message, "error")
    }

    <div class="top-area">
        <div class="top__btn--area ">
            <div id="top-title" class="top__btn--text">@Messages("lang.manage.mapManager")</div>
            <div class=" top__map__btn--area">

                <select id="floor-category" class=" manager__data--floor">
                    @mapViewer.zipWithIndex.map { case(map, i) =>
                    <option value="@i" @{if(map.map_id == 3) "selected" else ""}>@map.map_position</option>
                    }
                </select>
            </div>

        </div>
    </div>

    <br/>
    <br/>

    <form id="viewForm" method="post" action=/manage/uploadMap" class = "hidden">
        <tbody class="scrollBodyT" id = "tBody">
        <table class="table table-condensed table-bordered">
            <thead class="scrollHead">
            <tr>
                <th class="table__flame--title viewer__posNum--frame" >id</th>
                <th class="table__flame--title viewer__visible--frame" >width</th>
                <th class="table__flame--title viewer__posFloor--frame">height</th>
                <th class="table__flame--title viewer__posType--frame" >image</th>
                <th class="table__flame--title viewer__posType--frame" >postion</th>

            </tr>
            </thead>
            @mapViewer.zipWithIndex.map { case(map, i) =>
            <tr class = "pos-search" id = "viewer-list-@i">
                <td class="item viewer__posNum--frame ">
                    <input class="form-control input-sm" type="text" id="input_map_id-@i" value="@map.map_id" name="map_id[@i]" >
                </td>
                <td class="item viewer__visible--frame ">
                    <input class="form-control input-sm" type="text" id="input_map_width-@i" value="@map.map_width" name="map_width[@i]" >
                </td>
                <td class="item viewer__posFloor--frame ">
                    <input class="form-control input-sm" type="text" id="input_map_height-@i" value="@map.map_height" name="map_height[@i]" >
                </td>
                <td id="mapImage-@i" class="item viewer__posType--frame ">
                    <!--<input class="form-control input-sm" type="file" id="input_map_image-@i" value="picture" accept="image/gif,image/jpeg,image/png" name="map_image[@i]" >-->
                </td>
                <td class="item viewer__posType--frame ">
                    <input class="form-control input-sm" type="text" id="input_map_position-@i" value="@map.map_position" name="map_position[@i]" >
                </td>
                <td class="item viewer__posType--frame ">
                    <input id="index_id" type="text" value=@i class ="hidden" name="index_id">
                </td>

            </tr>
            }

            </tbody>
        </table>

        @CSRF.formField
    </form>
    <div class="map__main--frame" id ="map__main--frame">
        <div class = "alert__result--frame">
            @tags.alertFromRequestDbResult(request, "resultOK")
            @tags.alertFromRequestDbResult(request, "resultNG")
        </div>
        @mapViewer.zipWithIndex.map { case(map, i) =>
        <div id="beaconMap-@(i+1)" class = "hidden level level--@i layer-beacon" aria-label="Level @i">

            <form action="/manage/uploadMap" method="POST" enctype="multipart/form-data" class="img__area--frame">
                <div class = "inputFrame map__input--frame">
                    <input id="inputNum-@i" class="map__image--input"   type="file" name="map_image[@i]" accept="image/gif,image/jpeg,image/png"  >
                    <input id="map_id" class ="hidden"  type="text"  value=@map.map_id  name="map_id[@i]">
                    <input id="input_map_width-@i" class="form-control input-sm hidden" type="text"  value="@map.map_width" name="map_width[@i]" >
                    <input id="input_map_height-@i" class="form-control input-sm hidden" type="text"  value="@map.map_height" name="map_height[@i]" >
                    <input id="input_map_position-@i" class="form-control input-sm hidden" type="text"  value="@map.map_position" name="map_position[@i]" >
                    <input id="index_id" type="text" value=@i class ="hidden" name="index_id">
                    <input type="submit" value="送信">
                </div>
                @CSRF.formField
            </form>
            <!--<canvas id="canvas"></canvas>-->
            <div class="wrapper__img--canvas" >
                <!--<div id="heatmap--area"></div>-->
                <img id ="imgFrame-@i" class="img__map__manager--style" src=@map.map_image />
            </div>
        </div>
        }


    </div>

</body>

</html>

