@(
ITEM_TYPE_FILTER: Int,
WORK_TYPE_FILTER:String,
RESERVE_DATE:String,
carList: Seq[itemCarBeaconPositionData],
itemTypeList: Seq[ItemType],
companyNameList :Seq[Company],
floorNameList :Seq[Floor],
workTypeList :Seq[WorkType],
workTypeMap: Map[Int,String])(implicit user: User, messages: Messages, request: RequestHeader, flash: Flash)
@import b3.vertical.fieldConstructor
@import controllers.routes
@import helper._

<!doctype html>
<html lang="ja">
<head>
    @templates.htmlHead(title = Messages("lang.cms.carManage.title"))
    <link rel="stylesheet" href="@routes.MyAssets.css("cms/carManage.css")"/>
    <script type="text/javascript" src="@routes.MyAssets.lib("jquery.tablefix_1.0.1.js")"></script>
    <script></script>
</head>
<body>
<!-- content -->
<div class="container">
    <!-- ナビバー  -->
    @views.html.templates.navBar()
    <div class="row" style="margin-top: 40px;">
        <!-- メイン -->
        <div class="col-lg-12 mainSpace">
            <!-- 画面題字 -->
            <div class="form-group" style="font-weight:bold;font-size:19px;margin:25px 0px;">
                <!-- メッセージ -->
                @views.html.templates.msgDiv()
                <!--タイトル-->
                @Messages("lang.site.carReserve.page.title")
            </div>

            <!-- ボタン-->
            <form id="viewForm" method="post" action="">
                <!--header 検索部-->
                <div class="row tableRow" style="margin-top: 10px;">

                    <div class="text-center col-xs-3 col-sm-3 col-md-3" style="display: -webkit-box;margin-right: 70px;">
                        予約希望日：
                            <div class='input-group date' id='datetimepicker'
                                    style="margin-top: -5px;">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                <input type='text' class="form-control inputClass" id="inputDate" name="inputDate" value="@RESERVE_DATE"
                                    style="width: 100px;"/>

                            </div>

                    </div>

                    <div class="text-center col-xs-3 col-sm-3 col-md-3" style="padding:0;">
                        種別 :
                        <select id="ITEM_TYPE_FILTER" style="width: 100px;">
                            <!--仮設材種別テーブルから検索フィルタを設置-->
                            <option value="0"></option>
                            @itemTypeList.zipWithIndex.map { case(itemType, i) =>
                                <option value="@itemType.item_type_id">@itemType.item_type_name</option>
                            }
                        </select>
                        <input class="hidden form-control input-sm" type="text" id="itemTypeId" name="itemTypeId" value="@ITEM_TYPE_FILTER">
                    </div>

                    <div class="text-center col-xs-3 col-sm-3 col-md-3" style="padding:0;">
                        期間 :
                        <select id="WORK_TYPE_FILTER" style="width: 100px;">
                            <option value=""></option>
                            @workTypeList.zipWithIndex.map { case(workType, i) =>
                            <option value="@workType.work_type_name">@workType.work_type_name</option>
                            }
                        </select>
                        <input class="hidden form-control input-sm" type="text" id="workTypeName" name="workTypeName" value="@WORK_TYPE_FILTER">
                    </div>
                    <!--表示ボタン-->
                    <div id = "viewBtn" class="text-center btn btn__view--frame">
                        空き情報確認
                    </div>
                </div>

            <!-- テーブルのROW -->
            <div class="row tableRow">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0;">
                    <div class="table-responsive-body">
                        <table class="table table-bordered table-condensed itemTable">
                            <thead>
                            <tr>
                                <th colspan="11" class="tableTitleTh">@Messages("lang.site.carReserve.page.title")</th>
                            </tr>
                            <tr>
                                <th class="tableTh ">選択</th>
                                <th class="tableTh ">現在フロア</th>
                                <th class="tableTh ">現在位置</th>
                                <th class="tableTh ">実ID</th>
                                <th class="tableTh ">Tag ID</th>
                                <th class="hidden tableTh ">種別ID</th>
                                <th class="tableTh ">種別</th>
                                <th class="tableTh ">名称</th>
                                <th class="tableTh ">予約日</th>
                                <th class="tableTh ">予約期間</th>
                                <th class="tableTh ">予約ID</th>
                            </tr>
                            </thead>
                            <tbody>
                            @carList.zipWithIndex.map { case(car, i) =>
                                <tr class="rowColor rowHover" data-carId="@car.item_car_id" id="@car.item_car_id">
                                    @if(i == 0){
                                        <td class="item common__check--frame" id="check-@i">
                                            <input class= "checkTotal" type="checkbox" id="isCheckBox-@i" name="checkVal[@i]" value=@i >
                                        </td>
                                    }else{
                                        @if(carList(i-1).item_car_id == carList(i).item_car_id){
                                            <td class="itemTd text-center ">-</td>
                                        }else{
                                            <td class="item common__check--frame" id="check-@i">
                                                <input class= "checkTotal" type="checkbox" id="isCheckBox-@i" name="checkVal[@i]" value=@i>
                                            </td>
                                        }
                                    }
                                    <td class="itemTd text-center ">@car.cur_pos_name</td>
                                    <td class="itemTd text-center modalSelect">@car.cur_exb_name</td>
                                    <td class="itemTd text-center ">@car.item_car_id
                                        <input class="hidden  form-control input-sm" type="text" id="itemId-@i" name="itemId[@i]" value="@car.item_car_id">
                                    </td>
                                    <td class="itemTd text-center ">@car.item_car_btx_id</td>
                                    <td class="hidden itemTd text-center ">@car.item_type_id
                                        <input class="hidden  form-control input-sm" type="text" id="itemTypeIdList-@i" name="itemTypeIdList[@i]" value="@car.item_type_id">
                                    </td>
                                    <td class="itemTd text-center ">@car.item_type_name</td>
                                    <td class="itemTd text-center ">@car.item_car_name</td>
                                    <td class="itemTd text-center ">@car.reserve_start_date</td>
                                    <td class="itemTd text-center ">@car.work_type_name</td>
                                    <td class="itemTd text-center ">@car.reserve_id</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--footer 更新部-->
            <div class="row tableRow" style="margin-top: 30px;">

                <div class="text-center col-xs-3 col-sm-3 col-md-3" style="padding:0;">
                    業者 :
                    <select id="COMPANY_NAME_FILTER" style="width: 100px;">
                        <!--業者マスターから検索フィルタを設置-->
                        <option value=""></option>
                        @companyNameList.zipWithIndex.map { case(company, i) =>
                        <option value="@company.companyName">@company.companyName</option>
                        }
                    </select>
                    <input class="hidden  form-control input-sm" type="text" id="companyName" name="companyName" value="">
                </div>

                <div class="text-center col-xs-4 col-sm-4 col-md-4">
                    予約フロア：
                    <select id="FLOOR_NAME_FILTER" style="width: 100px;">
                        <!--仮設材種別テーブルから検索フィルタを設置-->
                        <option value=""></option>
                        @floorNameList.zipWithIndex.map { case(floor, i) =>
                        <option value="@floor.floor_name">@floor.floor_name</option>
                        }
                    </select>
                    <input class="hidden  form-control input-sm" type="text" id="floorName" name="floorName" value="">

                </div>

                <!--表示ボタン-->
                <div id ="reserveBtn" class="text-center btn btn__view--frame">
                    予約へ
                </div>
            </div>

            @CSRF.formField
        </form>
            <!-- モーダル画面 -->
            <div class="modal" id="inputModal" tabindex="-1" role="dialog" aria-labelledby="InputModalLabel" aria-hidden="true" data-show="true" data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog">
                    <div class="modal-content">
                            @CSRF.formField
                            <input type="hidden" name="inputPlaceId" value="">
                            <input type="hidden" id="inputItemKindId" name="inputItemKindId">
                            <input type="hidden" id="actualItemInfoStr" name="actualItemInfoStr">
                            <div class="modal-header" style="">@Messages("lang.site.carReserve.page.title")</div>
                            <div class="modal-body">
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <label class="text-right  control-label col-xs-6">予約希望日</label>
                                    <label id="mReserveDate" class="modalClass control-label">未設定</label>
                                </div>
                                <div class="hidden form-group" style="margin-bottom: 5px;">
                                    <label class="text-right control-label col-xs-6">種別</label>
                                    <label id="mItemTypeName" class="modalClass control-label">未設定</label>
                                </div>
                                <div class="form-group" style="margin-bottom: 5px;">
                                    <label class="text-right control-label col-xs-6">期間</label>
                                    <label id="mWorkTypeName" class="modalClass control-label">未設定</label>
                                </div>

                                <div class="form-group" style="margin-bottom: 5px;">
                                    <label class="text-right control-label col-xs-6">業者</label>
                                    <label id="mCompanyName" class="modalClass control-label">未設定</label>
                                </div>

                                <div class="form-group" style="margin-bottom: 5px;">
                                    <label class="text-right control-label col-xs-6">予約フロア</label>
                                    <label id="mReserveFloorName" class="modalClass control-label">未設定</label>
                                </div>

                                <!--<div class="form-group" style="margin-bottom: 5px;">-->
                                    <!--<label class="text-right control-label col-xs-6">選択</label>-->
                                    <!--<label id="mArSelectId" class="modalClass control-label">未設定</label>-->
                                <!--</div>-->
                            </div>
                            <div class="modal-footer">
                                <div class="col-xs-6 text-center">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("cancel")</button>
                                </div>
                                <div class="col-xs-6 text-center">
                                    <button id="itemRegisterFooter"  type="" class="text-center btn btn-primary">予約</button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<script type="text/javascript" src="@routes.MyAssets.js("site/itemCarReserve.js")"></script>
<script></script>

</body>
</html>


