@(
ITEM_TYPE_FILTER: Int,
COMPANY_NAME_FILTER:String,
WORK_TYPE_FILTER:String,
RESERVE_DATE:String,
carList: Seq[itemCarBeaconPositionData],
itemTypeList: Seq[ItemType],
companyNameList :Seq[Company],
floorNameList :Seq[Floor],
workTypeList :Seq[WorkType],
workTypeMap: Map[Int,String],
RESERVE_MAX_COUNT:Int)(implicit user: User, messages: Messages, request: RequestHeader, flash: Flash)
@import b3.vertical.fieldConstructor
@import controllers.routes
@import helper._

<!doctype html>
<html lang="ja">
<head>
@templates.htmlHead(title = Messages("lang.site.itemCarCancel.page.title"))
<link rel="stylesheet" href="@routes.MyAssets.css("cms/itemCarManage.css")"/>
<script></script>
</head>
<body>
<!-- content -->
<div class="container">
    <!--loading部-->
    @views.html.templates.totalLoading()
    <!-- ナビバー  -->
    @views.html.templates.navBar()
    <div class="row">
        <!-- サイドメニュー -->
        @views.html.templates.sideMenu()
        <span id="reserveMaxCount" data-count = "@RESERVE_MAX_COUNT" class = "hidden" ></span>
        <span class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <!-- メッセージ -->
            @views.html.templates.msgDiv()
        </span>
        <!-- メイン -->
        <div class="mainSpace col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <!-- 画面題字 -->
            <div class="form-group" style="font-weight:bold;font-size:19px;margin:25px 0px;">
                <!--タイトル-->
                @Messages("lang.site.carCancel.page.title")
            </div>
            <form id="viewForm" method="post" action="">
                <div class="row tableRow" style="margin-top: 10px;">
                    <div class="text-left col-xs-10 col-sm-10 col-md-10 col-lg-10" style="padding:0;">
                        <div style="margin-right:10px;float:left;">
                            <div style="float:left">@Messages("lang.search.reserveDate")</div>
                            <div class='input-group date' id='datetimepicker' style="margin-top:-5px;">
                                <span class="input-group-addon" style="float:left;width:40px;height:34px;">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                <input type='text' class="form-control inputClass" id="inputDate" name="inputDate" value="@RESERVE_DATE" style="width: 100px;"/>
                            </div>
                        </div>
                        <div style="margin-right:10px;float:left;">
                            @Messages("lang.search.type")
                            <select id="ITEM_TYPE_FILTER" style="width: 120px;">
                                <!--仮設材種別テーブルから検索フィルタを設置-->
                                <option value="0"></option>
                                @itemTypeList.zipWithIndex.map { case(itemType, i) =>
                                    <option value="@itemType.item_type_id">@itemType.item_type_name</option>
                                }
                            </select>
                            <input class="hidden form-control input-sm" type="text" id="itemTypeId" name="itemTypeId" value="@ITEM_TYPE_FILTER" />
                        </div>
                        <div style="margin-right:10px;float:left;">
                            @Messages("lang.search.company")
                            <select id="COMPANY_NAME_FILTER" style="width: 120px;">
                                <!--業者マスターから検索フィルタを設置-->
                                <option value=""></option>
                                @companyNameList.zipWithIndex.map { case(company, i) =>
                                    <option value="@company.companyName">@company.companyName</option>
                                }
                            </select>
                            <input class="hidden form-control input-sm" type="text" id="companyName" name="companyName" value="@COMPANY_NAME_FILTER" />
                        </div>
                        <div style="margin-right:10px;float:left;">
                            @Messages("lang.search.term")
                            <select id="WORK_TYPE_FILTER" style="width: 120px;">
                                <option value=""></option>
                                @workTypeList.zipWithIndex.map { case(workType, i) =>
                                    <option value="@workType.work_type_name">@workType.work_type_name</option>
                                }
                            </select>
                            <input class="hidden form-control input-sm" type="text" id="workTypeName" name="workTypeName" value="@WORK_TYPE_FILTER" />
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding:0;">
                        <div id = "viewBtn" class="text-right btn btn__view--frame">@Messages("lang.btn.reserve.list")</div>
                    </div>
                </div>
                <!-- テーブルのROW -->
                <div class="row tableRow">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0;">
                        <div id="tableDiv" class="table-responsive-body">
                            <table id="myTable" class="table table-bordered table-condensed itemTable">
                                <thead>
                                    <tr>
                                        <th colspan="10" class="tableTitleBorder tableTitleTh">@Messages("lang.site.itemCarCancel.page.title")</th>
                                    </tr>
                                    <tr>
                                        <th class="tableTh tableBorder">@Messages("lang.site.itemCarCancel.select")</th>
                                        <th class="tableTh tableBorder">@Messages("lang.site.itemCarCancel.txId")</th>
                                        <th class="tableTh tableBorder">@Messages("lang.site.itemCarCancel.carNo")</th>
                                        <th class="tableTh tableBorder">@Messages("lang.site.itemCarCancel.floor")</th>
                                        <th class="tableTh tableBorder col-xs-2 col-sm-2 col-md-2 col-lg-2">@Messages("lang.site.itemCarCancel.pos")</th>
                                        <th class="tableTh tableBorder hidden">@Messages("lang.site.itemCarCancel.itemId")</th>
                                        <th class="tableTh tableBorder hidden">@Messages("lang.site.itemCarCancel.typeId")</th>
                                        <th class="tableTh tableBorder ">@Messages("lang.site.itemCarCancel.typeName")</th>
                                        <th class="tableTh tableBorder ">@Messages("lang.site.itemCarCancel.name")</th>
                                        <th class="tableTh tableBorder ">@Messages("lang.site.itemCarCancel.reserveCompany")</th>
                                        <th class="tableTh tableBorder ">@Messages("lang.site.itemCarCancel.reserveDate")</th>
                                        <th class="tableTh tableBorder ">@Messages("lang.site.itemCarCancel.reserveTerm")</th>
                                        <th class="tableTh tableBorder hidden ">@Messages("lang.site.itemCarCancel.reserveId")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @carList.zipWithIndex.map { case(car, i) =>
                                        <tr class="rowColor rowHover" data-carId="@car.item_car_id" id="@car.item_car_id">
                                            <td class="tableBorder item common__check--frame" id="check-@i">
                                                <input class= "checkTotal" type="checkbox" id="isCheckBox-@i" name="checkVal[@i]" value=@i />
                                            </td>
                                            <td class="tableBorder itemTd text-center ">@car.item_car_btx_id</td>
                                            <td class="tableBorder itemTd text-center ">@car.item_car_no</td>
                                            <td class="tableBorder itemTd text-center ">@car.cur_pos_name</td>
                                            <td class="tableBorder itemTd text-center modalSelect">@car.cur_exb_name</td>
                                            <td class="tableBorder itemTd text-center hidden">@car.item_car_id
                                                <input class="hidden form-control input-sm" type="text" id="itemId-@i" name="itemId[@i]" value="@car.item_car_id" />
                                            </td>
                                            <td class="tableBorder itemTd text-center hidden">@car.item_type_id
                                                <input class="hidden form-control input-sm" type="text" id="itemTypeIdList-@i" name="itemTypeIdList[@i]" value="@car.item_type_id" />
                                            </td>
                                            <td class="tableBorder itemTd text-center ">@car.item_type_name</td>
                                            <td class="tableBorder itemTd text-center ">@car.item_car_name</td>
                                            <td class="tableBorder itemTd text-center ">@car.company_name</td>
                                            <td class="tableBorder itemTd text-center ">@car.reserve_start_date
                                                <input class="hidden form-control input-sm" type="text" id="reserveStartDateList-@i" name="reserveStartDateList[@i]" value="@car.reserve_start_date" />
                                            </td>
                                            <td class="tableBorder itemTd text-center ">@car.work_type_name
                                                <input class="hidden form-control input-sm" type="text" id="Id-@i" name="workTypeNameList[@i]" value="@car.work_type_name" />
                                            </td>
                                            <td class="hidden tableBorder itemTd text-center ">
                                                <input class=" form-control input-sm" type="text" id="reserveList-@i" name="itemReserveIdList[@i]" value="@car.reserve_id" />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--footer 更新部-->
                <div class="row tableRow" style="margin-top: 30px;">
                    <div class="hidden text-center col-xs-3 col-sm-3 col-md-3">
                        予約フロア：
                        <select id="FLOOR_NAME_FILTER" style="width: 120px;">
                            <!--仮設材種別テーブルから検索フィルタを設置-->
                            <option value=""></option>
                            @floorNameList.zipWithIndex.map { case(floor, i) =>
                                <option value="@floor.floor_name">@floor.floor_name</option>
                            }
                        </select>
                        <input class="hidden  form-control input-sm" type="text" id="floorName" name="floorName" value="" />
                    </div>
                    <!--表示ボタン-->
                    <div id ="reserveBtn" class="text-center btn btn__view--frame">
                        @Messages("lang.btn.move.cancel")
                    </div>
                </div>
                @CSRF.formField
            </form>
            <!-- モーダル画面 -->
            <div class="modal" id="inputModal" tabindex="-1" role="dialog" aria-labelledby="InputModalLabel" aria-hidden="true" data-show="true" data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog">
                    <div class="modal-content">
                        @CSRF.formField
                        <input type="hidden" name="inputPlaceId" value="" />
                        <input type="hidden" id="inputItemKindId" name="inputItemKindId" />
                        <input type="hidden" id="actualItemInfoStr" name="actualItemInfoStr" />
                        <div class="modal-header" style="">@Messages("lang.site.itemCarCancel.page.title")</div>
                        <div class="modal-body">
                            <div class="hidden form-group" style="margin-bottom: 5px;">
                                <label class="text-right  control-label col-xs-6">@Messages("lang.site.item.reserveDate")</label>
                                <label id="mReserveDate" class="modalClass control-label">@Messages("lang.site.item.noselect")</label>
                            </div>
                            <div class="hidden form-group" style="margin-bottom: 5px;">
                                <label class="text-right control-label col-xs-6">@Messages("lang.site.itemCarCancel.typeName")</label>
                                <label id="mItemTypeName" class="modalClass control-label">@Messages("lang.site.item.noselect")</label>
                            </div>
                            <div class="hidden form-group" style="margin-bottom: 5px;">
                                <label class="text-right control-label col-xs-6">@Messages("lang.site.item.term")</label>
                                <label id="mWorkTypeName" class="modalClass control-label">@Messages("lang.site.item.noselect")</label>
                            </div>
                            <div class="hidden form-group" style="margin-bottom: 5px;">
                                <label class="text-right control-label col-xs-6">@Messages("lang.site.item.company")</label>
                                <label id="mCompanyName" class="modalClass control-label">@Messages("lang.site.item.noselect")</label>
                            </div>
                            <div class="hidden form-group" style="margin-bottom: 5px;">
                                <label class="text-right control-label col-xs-6">@Messages("lang.site.item.reserveFloor")</label>
                                <label id="mReserveFloorName" class="modalClass control-label">@Messages("lang.site.item.noselect")</label>
                            </div>
                            <div class="form-group" style="margin-bottom: 5px;text-align: center;font-size: 2vmin;">
                                <label class="text-center control-label">
                                    @Messages("lang.site.carCancel.page.delete")
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="col-xs-6 text-center">
                                <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("cancel")</button>
                            </div>
                            <div class="col-xs-6 text-center">
                                <button id="itemRegisterFooter"  type="" class="text-center btn btn-primary">@Messages("lang.btn.cancel")</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="@routes.MyAssets.js("site/itemCarCancel.js")"></script>
<script></script>
</body>
</html>
