@(ITEM_TYPE_FILTER: Int,
COMPANY_NAME_FILTER:String,
FLOOR_NAME_FILTER:String,
WORK_TYPE_FILTER:String,
otherList: Seq[itemOtherBeaconPositionData],
itemTypeList: Seq[ItemType],
companyNameList :Seq[Company],
floorNameList :Seq[Floor],
workTypeList :Seq[WorkType],
workTypeMap: Map[Int,String])(implicit user: User, messages: Messages, request: RequestHeader, flash: Flash)

@import controllers.routes
@import helper._

<!doctype html>
<html lang="ja">
<head>
@templates.htmlHead(title = Messages("lang.site.itemOtherMaster.page.title"))
<link rel="stylesheet" href="@routes.MyAssets.css("cms/itemCarManage.css")"/>
<script></script>
</head>
<body>
<!-- content -->
<div class="container">
    <!-- ナビバー  -->
    @views.html.templates.navBar()
    <div class="row">
        <!-- サイドメニュー -->
        @views.html.templates.sideMenu()
        <span class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <!-- メッセージ -->
            @views.html.templates.msgDiv()
        </span>
        <!-- メイン -->
        <div class="mainSpace col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <!-- 画面題字 -->
            <div class="form-group" style="font-weight:bold;font-size:19px;margin:15px 0px;">
                @Messages("lang.site.itemOtherMaster.page.title")
            </div>
            <!-- ボタン-->
            <form id="viewForm" method="post" action="">
                <div class="row tableRow" style="margin-top: 10px;">
                    <div class="text-left col-xs-10 col-sm-10 col-md-10 col-lg-10" style="padding:0;">
                        <div style="margin-right:10px;float:left;">
                            @Messages("lang.search.curFloor")
                            <select id="FLOOR_NAME_FILTER" style="width: 120px;">
                                <!--仮設材種別テーブルから検索フィルタを設置-->
                                <option value=""></option>
                                @floorNameList.zipWithIndex.map { case(floor, i) =>
                                    <option value="@floor.floor_name">@floor.floor_name</option>
                                }
                            </select>
                            <input class="hidden form-control input-sm" type="text" id="floorName" name="floorName" value="@FLOOR_NAME_FILTER" />
                        </div>
                        <div style="margin-right:10px;float:left;">
                            @Messages("lang.search.type")
                            <select id="ITEM_TYPE_FILTER" style="width: 120px;">
                                <!--仮設材種別テーブルから検索フィルタを設置-->
                                <option value="0"></option>
                                @itemTypeList.zipWithIndex.map { case(itemType, i) =>
                                    <option value="@itemType.item_type_id">@itemType.item_type_name</option>
                                }
                            </select>
                            <input class="hidden form-control input-sm" type="text" id="itemTypeId" name="itemTypeId" value="@ITEM_TYPE_FILTER" />
                        </div>
                        <div style="margin-right:10px;float:left;">
                            @Messages("lang.search.company")
                            <select id="COMPANY_NAME_FILTER" style="width: 120px;">
                                <!--業者マスターから検索フィルタを設置-->
                                <option value=""></option>
                                @companyNameList.zipWithIndex.map { case(company, i) =>
                                    <option value="@company.companyName">@company.companyName</option>
                                }
                            </select>
                            <input class="hidden form-control input-sm" type="text" id="companyName" name="companyName" value="@COMPANY_NAME_FILTER" />
                        </div>
                        <div class = "hidden" style="margin-right:10px;float:left;">
                            @Messages("lang.search.term")
                            <select id="WORK_TYPE_FILTER" style="width: 120px;">
                                <!--期間Enumから検索フィルタを設置-->
                                <!--<option value="0"></option>-->
                                <!--@workTypeMap.map{case (key, value) =>-->
                                <!--<option value="@(key+1)">@value</option>-->
                                <!--}-->
                                <option value=""></option>
                                @workTypeList.zipWithIndex.map { case(workType, i) =>
                                    <option value="@workType.work_type_name">@workType.work_type_name</option>
                                }
                            </select>
                            <input class="hidden form-control input-sm" type="text" id="workTypeName" name="workTypeName" value="@WORK_TYPE_FILTER" />
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding:0;">
                        <div class="text-center btn btn__view--frame" style="width:80%">@Messages("lang.btn.show")</div>
                    </div>
                </div>
                @CSRF.formField
            </form>
            <!-- テーブルのROW -->
            <div class="row tableRow">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0;">
                    <div class="table-responsive-body">
                        <table class="table table-bordered table-condensed itemTable">
                            <thead>
                                <tr>
                                    <th colspan="8" class="tableTitleTh">@Messages("lang.site.itemOtherMaster.page.title")</th>
                                </tr>
                                <tr>
                                    <th class="tableTh ">@Messages("lang.site.itemOtherMaster.txId")</th>
                                    <th class="tableTh ">@Messages("lang.site.itemOtherMaster.no")</th>
                                    <th class="tableTh ">@Messages("lang.site.itemOtherMaster.curFloor")</th>
                                    <th class="tableTh ">@Messages("lang.site.itemOtherMaster.curPos")</th>
                                    <th class="tableTh ">@Messages("lang.site.itemOtherMaster.type")</th>
                                    <th class="tableTh ">@Messages("lang.site.itemOtherMaster.name")</th>
                                    <th class="tableTh ">@Messages("lang.site.itemOtherMaster.company")</th>
                                    <th class="tableTh ">@Messages("lang.site.itemOtherMaster.reserveFloor")</th>
                                    <th class="hidden tableTh ">@Messages("lang.site.itemOtherMaster.term")</th>
                                    <th class="tableTh hidden">@Messages("lang.site.itemOtherMaster.reserveId")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @otherList.zipWithIndex.map { case(other, i) =>
                                    <tr class="rowColor rowHover" data-otherId="@other.item_other_id" id="@other.item_other_id">
                                        <td class="itemTd text-center ">@other.item_other_btx_id</td>
                                        <td class="itemTd text-center ">@other.item_other_no</td>
                                        <td class="itemTd text-center ">@other.cur_pos_name</td>
                                        <td class="itemTd text-center ">@other.cur_exb_name</td>
                                        <td class="itemTd text-center ">@other.item_type_name</td>
                                        <td class="itemTd text-center ">@other.item_other_name</td>
                                        <td class="itemTd text-center ">@other.company_name</td>
                                        <td class="itemTd text-center ">@other.reserve_floor_name</td>
                                        <td class="hidden itemTd text-center ">@other.work_type_name</td>
                                        <td class="itemTd text-center hidden">@other.reserve_id</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="@routes.MyAssets.js("site/itemOtherMaster.js")"></script>
<script></script>

</body>
</html>


