@(filter1: Int, carList: Seq[ItemCar])(implicit user: User, messages: Messages, request: RequestHeader, flash: Flash)

@import controllers.routes
@import helper._

<!doctype html>
<html lang="ja">
<head>
    @templates.htmlHead(title = Messages("lang.cms.carManage.title"))
    <link rel="stylesheet" href="@routes.MyAssets.css("cms/carManage.css")"/>
    <script type="text/javascript" src="@routes.MyAssets.lib("jquery.tablefix_1.0.1.js")"></script>
    <script></script>
</head>
<body>
<!-- content -->
<div class="container">
    <!-- ナビバー  -->
    @views.html.templates.navBar()
    <div class="row" style="margin-top: 40px;">
        <!-- メイン -->
        <div class="col-lg-12 mainSpace">
            <!-- メッセージ -->
            @views.html.templates.msgDiv()
            <!-- 画面題字 -->
            <div class="form-group" style="font-weight:bold;font-size:19px;margin:15px 0px;">
                @Messages("lang.site.carMaster.page.title")
            </div>

            <!-- ボタン-->
            <form id="viewForm" method="post" action="">
                <div class="row tableRow" style="margin-top: 10px;">
                    <div class="text-right col-xs-4 col-sm-4 col-md-4" style="padding:0;">
                        種別 :
                        <select id="filter1" class="">
                            <option value="0"></option>
                            <option value="1">itemType1</option>
                            <option value="2">itemType2</option>
                            <option value="3">itemType3</option>
                            <option value="4">itemType4</option>
                            <option value="5">itemType5</option>
                            <option value="6">itemType6</option>
                        </select>
                        <input class="hidden form-control input-sm" type="text" id="itemTypeId" name="itemTypeId" value="@filter1">
                    </div>
                    <div class="text-center col-xs-4 col-sm-4 col-md-4" style="padding:0;">
                        test2
                    </div>
                    <div class="text-left col-xs-4 col-sm-4 col-md-4" style="padding:0;">
                        test3
                    </div>
                </div>
                @CSRF.formField
            </form>

            <!-- テーブルのROW -->
            <div class="row tableRow">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0;">
                    <div class="table-responsive-body">
                        <table class="table table-bordered table-condensed itemTable">
                            <thead>
                            <tr>
                                <th colspan="5" class="tableTitleTh">@Messages("lang.site.carManage.car.list.header.title")</th>
                            </tr>
                            <tr>
                                <th class="tableTh carNoTh">id</th>
                                <th class="tableTh carNoTh">itemType</th>
                                <th class="tableTh carNoTh">@Messages("lang.cms.carManage.car.list.header.number")</th>
                                <th class="tableTh carNameTh">@Messages("lang.cms.carManage.car.list.header.name")</th>
                                <th class="tableTh carTxNoTh">@Messages("lang.cms.carManage.car.list.header.carNumber")</th>
                                <th class="tableTh keyTxNoTh">@Messages("lang.cms.carManage.car.list.header.keyNumber")</th>
                            </tr>
                            </thead>
                            <tbody>
                            @carList.zipWithIndex.map { case(car, i) =>
                                <tr class="rowColor rowHover" data-carId="@car.itemCarId" id="@car.itemCarId">
                                    <td class="itemTd text-center carId">@(i+1)</td>
                                    <td class="itemTd text-center carNo">@car.itemTypeId</td>
                                    <td class="itemTd text-center carNo">@car.itemCarNo</td>
                                    <td class="itemTd text-center carName">@car.itemCarName</td>
                                    <td class="itemTd text-center carBtxId">@car.itemCarBtxId</td>
                                    <td class="itemTd text-center carKeyBtxId">@car.itemCarKeyBtxId</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript" src="@routes.MyAssets.js("site/itemCarMaster.js")"></script>
<script></script>

</body>
</html>


