.top__btn--area {
    left: 0;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    top: 54px;
    background: #FFF;
    width: 100%;
    height: 50px;
}

.top__btn--text {
    color: black;
    font-size: 21px;
    margin-left: 20px;
    margin-top: 10px;
}
.top__map__btn--area {
    right: 25px;
    top: 0px;
    position: absolute;
}

.wrapper__img--canvas {
   text-align:center;
}
.no--scroll--frame{
    overflow: hidden;
}
.main--frame{
    margin-top: 115px;
    left: 0;
    overflow: hidden;
    width: inherit;
    background-size: cover;
    padding-right: 8px;
    padding-left: 10px;
}

.pos-search {
  display: table;
  width: 100%;
}

.scrollBody{
  overflow-y:scroll;
  display:block;
}
/*幅調整*/
td,th{
  table-layout:fixed;
}

thead.scrollHead{
  display:inherit;
  position: relative;
  width:100%;
}

/* mapManager関連.start */
.map__main--frame{
    margin-top: 75px;
    left: 0;
    overflow: hidden;
    width: inherit;
    background-size: cover;
}
.map__input--frame{
    margin-left: 30px;
}
.manager__data--floor {
    width: 10em;
    color: white;
    background: rgba(84, 84, 84, 1);
    height: 37px;
    margin-top: 4px;
    font-size: 12px;
    top: -10px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
/* manager関連.end */


/*bootbox関連.start*/
.alert__result--frame{
 	left:33%;
    position: absolute;
}

.alert__result--ng{
    color: #a94442 !important;
    background-color: #f1cece !important;
    border-color: #876d6d !important;
}


.alert__modal--footer{
    padding: 7px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.alert__result--ok{
 	color: #3c763d;
   	background-color: #cde3c4 !important;
    border-color: #98a28f !important;
}

.alert__frame{
    margin-top: 46px;
    position: absolute;
    width: 465px;
    z-index: 10000;
}
/*bootbox関連.end*/


.table__flame--title{
    vertical-align: inherit !important;
    text-align: center;
    background:#bababa;
    border-top: 2px solid #000000 !important;
    border-bottom: 2px solid #000000 !important;

}
.common__check--frame{
    text-align: center;
}

/*btn.start*/
.btn__type {
    /*margin-left: 1em;*/
    width: 8em;
    color: white;
    background: #545454;
    left: 10px;
    height: 37px;
    font-size: 12px;
    text-decoration: none;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}
.default__btn {
    background: #c0504d !important;
}

.btn__icon--style {
    font-size: 2em !important;
    margin-left: 20px !important;
    float: right !important;
    margin-top: 4px;
}
/*btn.end*/

/*Exbマスター画面column幅 .start*/
.common__check--frame{
 width:3% !important;
 text-align: center !important;
 line-height: 2.5 !important;
}

.exb__no--frame{
  width:8% !important;
}
.exb__deviceId--frame{
  width:7% !important;
}

.exb__name--frame{
  width:10% !important;
}

/*EXB状態監視画面column幅 .end*/

/*EXB座標マネージャー.start*/
.manager__data--frame {
    width: 100%;
    height: 75px;
    left: 0;
    z-index: 1;
    top: 104px;
    position: absolute;
    background: #ffffff;
}
.manager__main--frame {
    position:absolute;
    top: 190px;
    width:100%;

}
.exb__viewer--frame {
    background: #ffeb3b;
	display: inline-block;
	position: absolute;
	color: black;
	text-align: center;
	border-radius: 4.0vmin;
	-moz-border-radius:  4.0vmin;
	-webkit-border-radius: 4.0vmin;
	-o-border-radius: 4.0vmin;
}
.exb__pin--active {
    opacity: 1;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    border-width: thick;
    z-index: 10;
    border: medium solid #ff5555;
}

/*EXB座標マネージャー.end*/