td{
    padding:2px;
    white-space: nowrap;
}
.pc-side-nav{
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 10px;
}
.mainSpace{
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 25px;
}
#table-responsive-body{
    border: 1px;
    margin-bottom:0;
    border-top-width: 0px;
}
.tableRow{
    margin-right: 0!important;
    margin-left: 0!important;
}
.part{
    width: 35px;
    padding: 3px;
    margin: 2px!important;
    border-radius: 7px;
    border-width: 0px;
    border-style: solid;
    text-align: center;
    white-space: nowrap;
    font-family: 'arial', sans-serif;
    font-size: 15px!important;
    font-weight: bold;
}
.hiddenPart{
    text-align: center;
    white-space: nowrap;
    font-family: 'arial', sans-serif;
    font-size: 15px!important;
    font-weight: bold;
    width: 0px;
    padding: 3px 0px;
    margin: 2px 0px!important;
    border-width: 0px;
    visibility:hidden;
}

.partExFont{
    font-size: calc(103%) !important;
    margin-top: 5px;
    white-space: nowrap;
}

/************************ 予約の状態 ************************/
.useWorking{
    background-color: #404040;
    color: #FFFFFF;
}
.useNotWorking{
    background-color: #D9D9D9;
    color: #FFFFFF;
}
.reserveNone{
    background-color: #C00000;
    color: #FFFFFF;
}
.reserveContent{
    background-color: #BFBFBF;
    color: #000000;
}
/********/

.tableTitleTh{
    background-color: rgb(112, 173, 71); /*#DAE3F3;*/
    color: #000;
    font-size: 19px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}
.summeryTableTitleTh{
    background-color: rgb(112, 173, 71); /*#DAE3F3;*/
    color: #000;
    font-size: 16px!important;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, 'メイリオ', 'Meiryo', sans-serif;
}
.companyTh{
    background-color: #DEEBF7;
    text-align: center;
    white-space: nowrap;
    font-size: calc(108%);
    min-width: 80px;
}
.useNameTd{
    text-align: center;
    font-size: 11px;
    background-color:#DEEBF7;
    padding-right: 2px!important;
    padding-left: 2px!important;
}

.blankTd{
    padding-left: 1px!important;
    padding-right: 1px!important;
}
.useTd{
    background-color:#ECF3FA;
}
.reserveNameTd{
    text-align: center;
    font-size: 11px;
    padding-right: 2px!important;
    padding-left: 2px!important;
}

.reserveTdHoverColor{
    background-color: #fcf8e3!important;
}
.reserveTd{
}
.reserveFloorNameTd{
    width: 20px!important;
    padding:0;
    background-color: #F2F2F2!important;
    text-align: center;
    white-space: normal!important;
}
.floorNameTd{
    width: 20px!important;
    padding:0;
    background-color: #F2F2F2!important;
    text-align: center;
}
.floorNameTh{
    padding:0;
    background-color: #F2F2F2!important;
    text-align: center;
    font-size: calc(110%);
}

/*** table の改変 start ************************************************/
.reserveTable {
    border: 1px solid #000000;
    min-width: 100%;
    margin-bottom: 0px;
    //display:inline-block;
}

.reserveTable>thead>tr>th
, .reserveTable>tbody>tr>td{
    border: 1px solid #000000;
}
.reserveTable>tbody>tr>td
, .reserveTable>tbody>tr>th
, .reserveTable>thead>tr>td
, .reserveTable>thead>tr>th {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 4px;
    padding-left: 4px;
    vertical-align: middle;
}
.reserveTable>thead>tr>td
, .reserveTable>thead>tr>th{
    padding-top: 2px;
    padding-bottom: 2px;
}
.reserveTable>tbody>tr>th{
    vertical-align: middle;
}

.sideSummeryTable{
    margin-bottom: 0px;
}
.sideSummeryTable>thead>tr>th{
    font-size: calc(85%);
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, 'メイリオ', 'Meiryo', sans-serif;
    font-weight: 100;
    border: 0px!important;
}
.sideSummeryTable>tbody>tr>td{
    font-size: calc(90%);
    font-family: 'Calibri', sans-serif;
    padding: 8px 0px;
    border: 0px!important;
}

.sideSummeryTable>tbody>tr>td
, .sideSummeryTable>tbody>tr>th
, .sideSummeryTable>thead>tr>td
, .sideSummeryTable>thead>tr>th {
    vertical-align: middle;
    text-align: center;
}

.summeryColoredTh{
    background-color: #DEEBF7;
    white-space: nowrap;
}
.summeryColoredTd{
    background-color: #DEEBF7;
    white-space: nowrap;
}

th{
    font-weight: normal;
}
/*** table の改変 end ************************************************/

.dateFont{
    font-size: 16px;
    font-weight: bold;
    font-family: 'メイリオ', 'Meiryo', sans-serif;
}

.summeryDuplicate{
    color: #FFFFFF;
    background-color: #FF0000
}


/** (iPadタテ用) **/
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    .reserveTable>tbody>tr>td{
        padding-top: 13px;
        padding-bottom: 13px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .sideSummeryTable>tbody>tr>td{
        padding-top: 17px;
        padding-bottom: 17px;
        padding-right: 0px;
        padding-left: 0px;
    }
}