
/* コンテンツ */
body{
    background-color: #DAEEF4!important;
}

/* 画面ヘッダの余白 */
.screenHeadRow{
}

/* ボタン */
.btn{
    box-shadow: 1px 1px 3px 0px #000000;
    width: 24vw!important;
    padding-right: 0px!important;
    padding-left: 0px!important;
    font-size: calc(75% + 1.5vw)!important;
    font-weight: bold;
    font-family: 'Meiryo', sans-serif;
}
.btn-platform{
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: calc(75% + 0.75vw)!important;
}

.btn-white {
    color: #595959;
    background-color: #FFFFFF;
}

a.floorbtn-unselected:hover {
    text-decoration: none!important;
    color: #FFFFFF!important;
}

/** フォント **/
.fontYuGothic{
    font-family: 'Yu Gothic Medium', '游ゴシック Medium', YuGothic, '游ゴシック体', sans-serif!important;
}
.fontMspGothic{
    font-family: 'MS P Gothic', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif!important;
}
.fontCalibri{
    font-family: 'Calibri', sans-serif!important;
}

/** 各画面のヘッダで使用するクラス **/
.btnBlock{
    background-color: #F2F2F2;
    padding-top: 3px;
    padding-bottom: 3px;
}
/*画像アイコンの大きさ*/
.headIcon{
    width: 5.5vmax;
}
/*タイトルのフォント*/
.btnTitle{
    font-family: 'Meiryo', sans-serif;
    color: #376092;
    font-weight: bold;
    font-size: calc(82% + 1.5vw);
    vertical-align: middle;
}
/*戻るアイコン、ナビバーボタンアイコンの色*/
.headFontAwesome{
    color: #4F81BD;
    padding-top: 10px;
    font-size: calc(133% + 2.5vw);
}
/*ヘッダーの中のタイトルロゴ（"EXOffice"）*/
.headerTitle{
    font-family: 'leelawadeeui-semilight', sans-serif;
    letter-spacing: 0.6em;
    font-size: 2.3vw;
    /* font-weight: bold; */
}

/* スライダー上のリンク */
.pushy-link{
    font-family: 'Meiryo', sans-serif;
    font-size: calc(82% + 1.0vw);
    vertical-align: middle;
}

.marginAuto{
    margin: 0 auto;
}

a.cancelLink:link {text-decoration: none; color: #7F7F7F;}
a.cancelLink:visited {text-decoration: none; color: #7F7F7F;}

.carousel-inner img{
	width: 100%;
}

.weakOpacity{
    opacity: 0.3;
}


/** iPad用 タテ**/
@media(min-width: 768px) and (max-width: 1042px){
    .headSpace{
        margin-top: 100px;
    }
}
/** iPad用 ヨコ**/
@media(min-width: 1024px) and (max-width: 1079px){
    .headSpace{
        margin-top: 125px;
    }
}

@media (max-width:1079px) {
    .container {
        width: 100%!important;
    }
}
@media (min-width:1080px) {
    .container {
        width: 100%!important;
    }
}

/** (デカスマホ用) **/
@media (min-width:1080px) {
    body{
        font-size: 1.2em;
        background-color: #FFFFFF
    }
    .title{
        font-size: 8vw;
        letter-spacing: 0.5em;
        margin-bottom: 0px;
    }
    .subtitle{
    /*
        font-size: 4.6vw;
        color: #A6A6A6;
        margin-top: 0px;
        margin-bottom: 2%;
    */
    }
    .btnTitle{
        font-size: 33px;
    }
    .headerTitle{
        font-size: 32px;
    }
    .headFontAwesome {
        padding-top: 22px;
        font-size: 68px!important
    }
    a.cancelLink{
        font-size: 35px;
    }
    .btn {
        width: 246px!important;
        /*height: 0;*/
        /**padding-top: 17px;**/
        /**padding-bottom: 75px;**/
        /**font-size: 38px!important;**/
   }
   .addClear{
       font-size: 39px;
       top: -20px!important;
       right: 17px!important;
   }
   .btn-platform{
       font-size: 32px!important;
       padding-top: 0px!important;
       padding-bottom: 92px;
   }
   .pushy-link{
        font-size: 40px!important;
   }
   .headSpace{
       margin-top: 185px;
   }
}
