td{
    padding:2px;
    white-space: nowrap!important;
}
.pc-side-nav{
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 10px;
}
.mainSpace{
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 25px;
}
#table-responsive-body{
    border: 1px;
    margin-bottom:0;
    border-top-width: 0px;
}
.tableRow{
    margin-right: 0!important;
    margin-left: 0!important;
}
#itemTable{
    min-width: 100%;
    margin-bottom: 0px;
}

.part{
    width: 35px;
    padding: 3px;
    margin: 2px!important;
    border-radius: 7px;
    border-width: 0px;
    border-style: solid;
    text-align: center;
    white-space: nowrap;
    font-family: 'arial', sans-serif;
    font-size: 15px!important;
    font-weight: bold;
    background-color: #404040;
    color: #FFFFFF;
}

.partExFont{
    font-size: calc(103%)!important;
    margin-top: 5px;
    white-space: nowrap;
}

/********/

.tableTitleTh{
    background-color: #DAE3F3;
    color: #000;
    font-size: 19px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: 'メイリオ', 'Meiryo', sans-serif;
}

.tableSubTitleTh{
    background-color: #DEEBF7;
    text-align: center;
    white-space: nowrap;
    font-size: calc(108%);
    font-family: 'メイリオ', 'Meiryo', sans-serif;
}

.summeryTableTitleTh{
    background-color: #DAE3F3;
    color: #000;
    border-bottom: 1px solid #000!important;
    font-size: 16px!important;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, 'メイリオ', 'Meiryo', sans-serif;
    padding-top: 3px;
    padding-bottom: 3px;
}

.floorNameTh{
    padding-left: 0!important;
    padding-right: 0!important;
    background-color: #F2F2F2!important;
    text-align: center;
    font-size: calc(110%);
    width: 40%;
}
.floorNameTd{
    width: 20px!important;
    padding:0;
    background-color: #F2F2F2!important;
    text-align: center;
}

.itemNameTd{
    width: 20px!important;
    padding:0;
    background-color: #F2F2F2!important;
    text-align: center;
    font-size: calc(110%);
    font-family: 'メイリオ', 'Meiryo', sans-serif;
}

th{
    font-weight: normal;
}

/*** table-bordered の改変 start ****************************************/
.itemTable {
    border: 1px solid #000;
}

.itemTable>thead>tr>th ,
.itemTable>tbody>tr>td{
    border: 1px solid #000;
}

  .itemTable>tbody>tr>td
, .itemTable>tbody>tr>th
, .itemTable>thead>tr>td
, .itemTable>thead>tr>th {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 4px;
    padding-left: 4px;
    vertical-align: middle;
}

.itemTable>tbody>tr>th{
    vertical-align: middle;
}

.sideSummeryTable>thead>tr>th{
    font-size: calc(105%);
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, 'メイリオ', 'Meiryo', sans-serif;
    font-weight: 100;
}
.sideSummeryTable>tbody>tr>td{
    font-size: calc(90%);
    font-family: 'Calibri', sans-serif;
    padding: 8px;
    border: 0px!important;
}

.sideSummeryTable>tbody>tr>td{
    border-top: 1px solid #000!important;
}

  .sideSummeryTable>tbody>tr>td
, .sideSummeryTable>tbody>tr>th
, .sideSummeryTable>thead>tr>td
, .sideSummeryTable>thead>tr>th {
    vertical-align: middle;
    text-align: center;
    border-bottom: 0;
}


/*** table-bordered の改変 end ****************************************/

.dateFont{
    font-size: 16px;
    font-weight: bold;
    font-family: 'メイリオ', 'Meiryo', sans-serif;
    visibility:hidden;
}

.summerySelected{
    color: #FFFFFF;
    background-color: #2E61BA!important;
    font-weight: bold;
}

.rowHoverColor{
    color: #FFFFFF;
    background-color: #2E61BA!important;
    font-weight: bold;
    //cursor: pointer;
}

/** (iPadタテ用) **/
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {

    .itemTable>tbody>tr>td{
        padding-top: 14px;
        padding-bottom: 14px;
        padding-right: 4px;
        padding-left: 4px;
        vertical-align: middle;
    }
    .sideSummeryTable>tbody>tr>td{
        padding-top: 19px;
        padding-bottom: 19px;
        padding-right: 2px;
        padding-left: 2px;
        vertical-align: middle;
    }
}
