@(companyList: Seq[String], floorList:Seq[String], floorSummeryDataList: Seq[models.FloorSummery])(implicit user: User, messages: Messages, request: RequestHeader, flash: Flash)

@import controllers.routes
@import helper._

@views.html.templates.logged(title = "高所作業者予約", tab = "index", containerClass = "container-index") {
<!doctype html>
<html lang="ja">
<head>
    @templates.htmlHead("高所作業者予約")
    <link rel="stylesheet" href="@routes.MyAssets.lib("jquery-ui/jquery-ui.theme.min.css")"/>
    <link rel="stylesheet" href="@routes.MyAssets.css("mainMenu.css")"/>
    <link rel="stylesheet" href="@routes.MyAssets.css("carReserve.css")"/>
    <script type="text/javascript" src="@routes.MyAssets.lib("jquery-ui/jquery-ui.min.js")"></script>
    <script type="text/javascript" src="@routes.MyAssets.lib("jquery-ui/jquery.ui.touch-punch.min.js")"></script>
    <script type="text/javascript" src="@routes.MyAssets.lib("jquery.tablefix_1.0.1.js")"></script>
    <script></script>
</head>
<body>
    <!-- content -->
    <div class="container">
        <!-- ナビバー  -->
        @templates.navBar()
        <div class="row" style="margin-top: 40px;">
            <!-- 左サイド -->
            <div class="col-sm-4 col-md-4 col-lg-3 pc-side-nav">
                <!-- ボタン部ROW -->
                @templates.menuBtnDiv()
                <!-- サマリー部ROW -->
                <div class="row" style="margin-top: 5%;">
                    <div class="col-xs-10 col-sm-10 col-md-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1" style="padding:0;">
                        <div>
                            <table class="table table-bordered table-condensed sideSummeryTable">
                                <thead>
                                    <tr>
                                        <th colspan="3" class="tableTitleTh">高所作業車各階稼働状況</th>
                                    </tr>
                                    <tr>
                                        <th class="companyTh" style="font-size:calc(100%);">階数</th>
                                        <th class="companyTh" style="font-size:calc(100%);">稼働日朝</th>
                                        <th class="companyTh" style="font-size:calc(100%);">予約日</th>
                                    </tr>
                                </thead>
                                <tbody class="text-right">
                                    @***for(floorData <- floorSummeryDataList){***@
                                        <tr>
                                            <td class="floorNameTd">8F</td>
                                            <td class="useTd"></td>
                                            <td class="reserveTd"></td>
                                        </tr>
                                        <tr>
                                            <td class="floorNameTd">7F</td>
                                            <td class="useTd"></td>
                                            <td class="reserveTd"></td>
                                        </tr>
                                        <tr>
                                            <td class="floorNameTd">6F</td>
                                            <td class="useTd"></td>
                                            <td class="reserveTd"></td>
                                        </tr>
                                        <tr>
                                            <td class="floorNameTd">5F</td>
                                            <td class="useTd"></td>
                                            <td class="reserveTd">2台</td>
                                        </tr>
                                        <tr>
                                            <td class="floorNameTd">4F</td>
                                            <td class="useTd">7台</td>
                                            <td class="reserveTd summeryDuplicate">7台</td>
                                        </tr>
                                        <tr>
                                            <td class="floorNameTd">3F</td>
                                            <td class="useTd">5台</td>
                                            <td class="reserveTd summeryDuplicate">5台</td>
                                        </tr>
                                        <tr>
                                            <td class="floorNameTd">2F</td>
                                            <td class="useTd">2台</td>
                                            <td class="reserveTd">1台</td>
                                        </tr>
                                        <tr>
                                            <td class="floorNameTd">1F</td>
                                            <td class="useTd"></td>
                                            <td class="reserveTd"></td>
                                        </tr>
                                    @***}***@
                                    <tr>
                                        <td class="floorNameTd">全数</td>
                                        <td class="useTd">14台</td>
                                        <td class="reserveTd summeryDuplicate">15台</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- 凡例部ROW -->
                <div class="row">
                    <div class="col-xs-10 col-sm-10 col-md-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1" style="padding:0;">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="part partEx reserveNormal pull-left"></div>
                                <span class="partExFont">：予約希望</span>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="part partEx reserveNone pull-left"></div>
                                <span class="partExFont">：予約無し</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="part partEx reserveDuplicate pull-left"></div>
                                <span class="partExFont">：要調整</span>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="part partEx reserveDone pull-left"></div>
                                <span class="partExFont">：予約済</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="part partEx reserveDiff pull-left"></div>
                                <span class="partExFont">：前日と異なる階 / 業者で予約</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 右サイド -->
            <div class="col-sm-8 col-md-8 col-lg-9 mainSpace">
                <!-- メッセージ -->
                @if(!flash.get("errMsg").isEmpty) {
                <div class="row">
                    <div style="margin-top: 10px;margin-bottom: 10px;" class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        @flash.get("errMsg")
                    </div>
                </div>
                }
                @if(!flash.get("successMsg").isEmpty) {
                <div class="row">
                    <div style="margin-top: 10px;margin-bottom: 10px;" class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        @flash.get("successMsg")
                    </div>
                </div>
                }
                <!-- 予約表-->
                <div class="row tableRow">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0;">
                        <div style="padding-right: 10px">
                            <div id="table-responsive-body">
                                <table id="reserveTable" class="table table-bordered table-condensed reserveTable">
                                    <thead>
                                        <tr class="removable">
                                            <th colspan="@{companyList.length + 4}" class="tableTitleTh">高所作業車予約</th>
                                        </tr>
                                        <tr class="removable">
                                            <th style="background-color: #B4C7E7!important;" colspan="2"></th>
                                            <th class="blankTd" style="background-color:#B4C7E7;"></th>
                                            <th class="companyTh">前日予約無</th>
                                            @for((company, no) <- companyList.zipWithIndex){
                                                <th class="companyTh" data-th="th_@{no}">@company</th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for(floor <- floorList){
                                            <tr id="floorRow_@{floor}" class="reserveRow">
                                                <td rowspan="2" class="floorNameTd removable">@floor<br/>F</td>
                                                <td nowrap class="reserveNameTd removable" style="border-bottom-color: #7F7F7F!important;">予約</td>
                                                <td class="blankTd" style="background-color:#FFFFFF;border-bottom-color: #7F7F7F!important;"></td>
                                                <td class="reserveTd removable" style="border-bottom-color: #7F7F7F!important;"></td>
                                                @for((company, no) <- companyList.zipWithIndex){
                                                     <td class="drop-able reserveTd reserveTdHover" data-company="@{no}" data-name="@{floor}_@{company}" data-floor="@{floor}" id="td_@{floor}_@{no}" style="border-bottom-color: #7F7F7F!important;"></td>
                                                }
                                            </tr>
                                            <tr class="">
                                                <td nowrap class="useNameTd removable">稼働<span class="part" style="visibility:hidden;">000</span></td>
                                                <td class="blankTd" style="background-color:#E7E6E6;"></td>
                                                <td class="useTd removable"></td>
                                                @for((company, i) <- companyList.zipWithIndex){
                                                    <td class="useTd removable">
                                                       <span class="part draggable reserveNone original" id="@{floor}_@{i}" data-originalId="@{floor}_@{company}" data-carNo="0@{floor}@{i}" data-before="@{floor}_@{company}">0@{floor}@{i}</span>
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 欄外-->
                <div class="row tableRow cmsLinkRow">
                    <div class="col-xs-4 col-sm-4 col-md-4" style="padding:0;">
                        <a id="cmsLink" class="btn btn-primary">管理ページ</a>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4" style="padding:5px;">
                        <span class="dateFont">稼働日：7/2</span>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4" style="padding:5px;">
                        <span class=" dateFont">予約日：7/3</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="@routes.MyAssets.js("carReserve.js")"></script>
    <script></script>

    <!-- モーダル画面 -->
    <div class="modal" id="inputModal" tabindex="-1" role="dialog" aria-labelledby="inputModalLabel" aria-hidden="true" data-show="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="inputForm" name="inputForm" class="form-horizontal">
                    <div class="modal-header" style="">予約登録</div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-xs-5">作業車番号</label>
                            <div class="col-xs-2 col-xs-offset-1" style="padding-left: 0px;padding-right: 0px;">
                                <input type="text" name="inputTitle" id="inputTitle" class="form-control" placeholder="001">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5" style="padding-top: 0px;">フロア</label>
                            <div class="col-xs-2 col-xs-offset-1" style="padding-left: 0px;padding-right: 0px;">
                                <span>8F</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5" style="padding-top: 0px;">業者</label>
                            <div class="col-xs-2 col-xs-offset-1" style="padding-left: 0px;padding-right: 0px;">
                                <span id="roomSpan">ダクト1</span>
                            </div>
                        </div>
                    </div>
                    <div id="registFooter" class="modal-footer" style="text-align: center;">
                        <div class="col-xs-6 text-center">
                            <button type="button" class="dialogBtn btn btn-default" data-dismiss="modal">キャンセル</button>
                        </div>
                        <div class="col-xs-6 text-center">
                            <button type="button" class="dialogBtn registBtn text-center btn btn-primary btnColor">登録</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
}