@()(implicit request: RequestHeader, user: User, messages: Messages)

@import controllers.routes

@scripts = {
    <style type="text/css">
    </style>
}

@views.html.templates.logged(title = "パスワード変更", tab = "myaccount", scripts = scripts, withBack = true, containerClass = "container-myAccount") {
<!-- メインコンテンツ -->
<div>
    <div style="background-color:white;margin-left:230px;margin-top:15px;">
        @tags.alertFromRequest(request, "success")
        <table class="table table-condensed table-bordered" style="width:260px; margin-left:0px;">
            <tr>
                <td>名前</td>
                <td>@user.name</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>@user.email</td>
            </tr>
        </table>
        <a class="btn btn-primary chgPwdBtn" style="width:260px;margin-left:00px;" href="@routes.Auth.changePassword">パスワード変更</a>
    </div>
</div>
}