@(passForm: Form[PassWordForm], userList:Seq[User])(implicit request: RequestHeader, messages: Messages, user: User, flash: Flash)

@import controllers.routes
@import helper._


<!DOCTYPE html>
<html lang="ja">
<head>
    @templates.htmlHead(title = Messages("lang.cms.placeManage.changePassword.page.title"))
    <link rel="stylesheet" href="@routes.MyAssets.css("manage/itemCar.css")"/>
    <link rel="stylesheet" href="@routes.MyAssets.css("tenant/passWord.css")"/>
    <script type="text/javascript">
       eval(function(p,a,c,k,e,r){e=function(c){return c.toString(a)};if(!''.replace(/^/,String)){while(c--)r[e(c)]=k[c]||e(c);k=[function(e){return r[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('$(0(){$("1 3[4=\'5\']").6(0(i,d){$(d).7("2",e);$(d).8(\'9\',0(c){$("1 3[4=\'5\']").6(0(a,b){$(b).7("2",e)});$("#"+c.g.h).7("2",j)})});$("#k").8(\'9\',0(b){$("1 3[4=\'5\']:2").f("1").6(0(i,a){$("#l").m()})});$("#n").8(\'9\',0(b){$("1 3[4=\'5\']:2").f("1").6(0(i,a){$(a).o()})})});',25,25,'function|form|checked|input|type|radio|each|prop|on|click|||||false|parents|target|id||true|passwordChangeBtn|submitModal|modal|passwordSubmit|submit'.split('|'),0,{}))
    </script>
</head>
<body>
    <div class="container">
        @views.html.templates.totalLoading()
        @views.html.templates.navBar()
        <div class="row">
            @views.html.templates.sideMenu()
            <span class="mainSpace col-xs-10 col-sm-10 col-md-10 col-lg-10">
              @views.html.templates.msgDiv()
            </span>
            <div class="mainSpace col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <div class="form-group group-style">
                    @Messages("lang.cms.placeManage.changePassword.page.title")
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    @if(flash.get("success").getOrElse("") != "") {
                        <div class="alert alert-info">
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">×</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <i class="fa fa-info-circle"></i>&nbsp;
                            @flash.get("success")
                        </div>
                    }
                    @if(passForm.hasErrors) {
                        <div class="alert alert-block alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">×</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <i class="fa fa-exclamation-triangle"></i>&nbsp;
                            @Messages("error.changePassword.update")
                            @for(error <- passForm("").errors) {
                                <p class="error">@Messages(error.message)</p>
                            }
                            @for(error <- passForm("currentPassword").errors) {
                                <p class="error">@Messages("error.changePassword.currentPassword." + error.message)</p>
                            }
                            @for(error <- passForm("newPassword1").errors) {
                                <p class="error">@Messages("error.changePassword.newPassword1." + error.message)</p>
                            }
                            @for(error <- passForm("newPassword1").errors) {
                                <p class="error">@Messages("error.changePassword.newPassword2." + error.message)</p>
                            }
                        </div>
                    }
                    @for(user <- userList){
                        <form id="passForm@{user.id}" enctype="multipart/form-data" class="form-horizontal" method="post" action="@routes.Auth.setupPassword.path">
                            <div class="table-responsive-body">
                                <table class="table table-bordered table-condensed itemTable form-style">
                                    <thead>
                                        <tr class="rowColor rowHover">
                                            <th class="tableTitleTh text-left table-style">
                                                <input id="radioSelect@{user.id}" type="radio" name="userId"/>
                                                <label for="radioSelect@{user.id}">@user.name</label>
                                            </th>
                                            <th class="tableTitleTh text-left" style="width:180px;text-align:left">@user.email</th>
                                            <input name="email" type="hidden" value="@{user.email}"/>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="rowColor rowHover">
                                            <td class="tableTh text-left text-style">@Messages("lang.cms.placeManage.changePassword.label.currentPassword")</td>
                                            <td class="tableTh text-left text-style"><input type="password" name="currentPassword" maxlength="60" length="16" value="" /></td>
                                        </tr>
                                        <tr class="rowColor rowHover">
                                            <td class="tableTh text-left text-style">@Messages("lang.cms.placeManage.changePassword.label.newPassword1")</td>
                                            <td class="tableTh text-left text-style"><input type="password" name="newPassword1" maxlength="60" length="16" value="" /></td>
                                        </tr>
                                        <tr class="rowColor rowHover">
                                            <td class="tableTh text-left text-style">@Messages("lang.cms.placeManage.changePassword.label.newPassword2")</td>
                                            <td class="tableTh text-left text-style"><input type="password" name="newPassword2" maxlength="60" length="16" value="" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            @CSRF.formField
                        </form>
                        <div style="height:10px"></div>
                    }
                </div>
                <div class="row tableRow tableRow-style">
                    <div class="text-center col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-3 col-md-offset-3">
                        <a id="passwordChangeBtn" class="btn link">@Messages("lang.cms.placeManage.changePassword.button.title")</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="inputModalLabel" aria-hidden="true" data-show="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">@Messages("lang.cms.placeManage.changePassword.popup.name")</div>
                <div class="modal-footer">
                    <div class="col-xs-6 text-center">
                        <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("cancel")</button>
                    </div>
                    <div class="col-xs-6 text-center">
                        <button id="passwordSubmit" type="submit" class="text-center btn btn-primary">@Messages("update")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
