@(place: PlaceEx, statusMap: Map[Int,String], isSysMng: Boolean)(implicit user: User, messages: Messages, request: RequestHeader, flash: Flash)

@import controllers.routes
@import helper._

<!doctype html>
<html lang="ja">
<head>
    @templates.htmlHead(title = Messages("placeManage.title"))
    <link rel="stylesheet" href="@routes.MyAssets.css("tenant/regionDetail.css")"/>
    <script></script>
</head>
<body>
    <!-- content -->
    <div class="container">
        <!--loading部-->
        @views.html.templates.totalLoading()
        <!-- ナビバー  -->
        @views.html.templates.navBar()
        <div class="row">
            <!-- 左サイドバー -->
            @views.html.templates.sideMenu()
            <!-- メイン -->
            <div class="mainSpace col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <!-- メッセージ -->
                @views.html.templates.msgDiv()
                <!-- 画面題字 -->
                <div class="form-group" style="font-weight:bold;font-size:19px;margin:15px 0px;">
                    @Messages("placeManage.detail.title")
                </div>
                <!-- テーブルのROW -->
                <div class="row tableRow">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0;">
                        <div class="table-responsive-body">
                            <table class="table table-bordered table-condensed itemTable" style="width:100%;">
                                <thead>
                                    <tr class ="hidden">
                                        <th colspan="6" class="tableTitleTh" style="width:100%">@Messages("lang.cms.placeManage.place.list.header.title")</th>
                                    </tr>
                                    <tr>
                                        <th class="tableTh noTh" style="width:10%">@Messages("lang.cms.placeManage.place.list.header.id")</th>
                                        <th class="tableTh placeNameTh" style="width:35%">@Messages("lang.cms.placeManage.place.list.header.placeName")</th>
                                        <th class="tableTh stateTh" style="width:10%">@Messages("lang.cms.placeManage.place.list.header.status")</th>
                                        <th class="tableTh userNameTh" style="width:20%">@Messages("lang.cms.placeManage.list.header.userName")</th>
                                        <th class="tableTh userEmailTh" style="width:20%">@Messages("lang.cms.placeManage.list.header.userLoginId")</th>
                                        <th class="tableTh floorCountTh" style="width:5%">@Messages("lang.cms.placeManage.place.list.header.floor")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="rowColor">
                                        <td class="itemTd text-right" style="width:10%">@place.placeId</td>
                                        <td class="itemTd text-left" style="width:35%;white-space:normal;word-break:break-all">@place.placeName</td>
                                        <td class="itemTd text-center" style="width:10%">@place.statusName</td>
                                        <td class="itemTd text-left" style="width:20%">@place.userName</td>
                                        <td class="itemTd text-left" style="width:20%">@place.userEmail</td>
                                        <td class="itemTd text-right" style="width:5%">@place.floorCount</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- リンク-->
                @if(isSysMng) {
                <div class="row tableRow" style="margin-top: 10px;">
                    <div class="col-xs-4 col-sm-4 col-md-4" style="padding:0;">
                        <a href="/tenant/region">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>@Messages("lang.cms.placeManage.detail.returnManage")
                        </a>
                    </div>
                </div>
                }
                <!-- ボタン-->
                <div class="row tableRow" style="margin-top: 10px;">
                    <div class="text-center col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1"
                         style="padding:0;">
                        <a href="javascript:showPasswordModal();" class="btn link text-right">@Messages("lang.cms.placeManage.place.button.password")</a>
                    </div>
                    <div class="text-center col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1"
                         style="padding:0;">
                        <a href="javascript:showPlaceUpdateModal();" class="btn link text-right">@Messages("lang.cms.placeManage.place.button.edit")</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="@routes.MyAssets.js("tenant/regionDetail.js")"></script>
    <script></script>
    <!-- 現場更新モーダル画面 -->
    <div class="modal" id="placeUpdateModal" tabindex="-1" role="dialog" aria-labelledby="placeUpdateModalLabel" aria-hidden="true" data-show="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="placeUpdateForm" name="placeUpdateForm" enctype="multipart/form-data" class="form-horizontal" method="post" action="@controllers.tenant.routes.RegionController.regionRegister.path">
                    @CSRF.formField
                    <input type="hidden" name="placeId" value="@place.placeId">
                    <input type="hidden" name="userId" value="@place.userId">
                    <div class="modal-header">@Messages("lang.cms.placeManage.placeUpdate.popup.title")</div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-xs-4">@Messages("lang.cms.placeManage.placeUpdate.popup.name")</label>
                            <div class="col-xs-7" style="padding-left: 0px;padding-right: 0px;">
                                <input type="text" name="placeName" value="@place.placeName" class="form-control" placeholder='@Messages("lang.cms.placeManage.placeUpdate.popup.name.placeholder")'>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4" style="padding-top: 0px;">@Messages("lang.cms.placeManage.placeUpdate.popup.status")</label>
                            <div class="col-xs-7" style="padding-left: 0px;padding-right: 0px;">
                                <select name="placeStatus" class="form-control">
                                    @statusMap.map{case (code, name) =>
                                        @if(code == place.status){
                                            <option selected value="@code">@name</option>
                                        }else{
                                            <option value="@code">@name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4">@Messages("lang.cms.placeManage.placeUpdate.popup.userName")</label>
                            <div class="col-xs-7" style="padding-left: 0px;padding-right: 0px;">
                                <input type="text" name="userName" class="form-control" value="@place.userName" placeholder='@Messages("lang.cms.placeManage.placeUpdate.popup.userName.placeholder")' />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4">@Messages("lang.cms.placeManage.placeUpdate.popup.userLoginId")</label>
                            <div class="col-xs-7" style="padding-left: 0px;padding-right: 0px;">
                                <input type="text" name="userLoginId" class="form-control" value="@place.userEmail" placeholder='@Messages("lang.cms.placeManage.placeUpdate.popup.userLoginId.placeholder")' />
                            </div>
                        </div>
                    </div>
                    <div style="height:80px"></div>
                    <div class="modal-footer" style="text-align: center;">
                        <div class="col-xs-6 text-center">
                            <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("cancel")</button>
                        </div>
                        <div class="col-xs-6 text-center">
                            <button type="submit" class="text-center btn btn-primary">@Messages("update")</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- パスワード画面 -->
    <div class="modal" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true" data-show="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="passwordForm" name="passwordForm" class="form-horizontal" enctype="multipart/form-data" class="form-horizontal" method="post" action="@controllers.tenant.routes.RegionController.regionPasswordUpdate.path">
                    @CSRF.formField
                    <div class="modal-header">@Messages("lang.cms.placeManage.passwordUpdate.popup.title")</div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="hidden" name="placeId" value="@place.placeId">
                            <input type="hidden" name="userId" value="@place.userId">
                            <label class="control-label col-xs-4">@Messages("lang.cms.placeManage.passwordUpdate.popup.password")</label>
                            <div class="col-xs-7" style="padding-left: 0px;padding-right: 0px;">
                                <input type="password" name="password1" class="form-control" placeholder='@Messages("lang.cms.placeManage.input.popup.userPassword1.placeholder")'>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4">@Messages("lang.cms.placeManage.passwordUpdate.popup.reEnter")</label>
                            <div class="col-xs-7" style="padding-left: 0px;padding-right: 0px;">
                                <input type="password" name="password2" class="form-control" placeholder='@Messages("lang.cms.placeManage.input.popup.userPassword1.placeholder")'>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-xs-6 text-center">
                            <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("cancel")</button>
                        </div>
                        <div class="col-xs-6 text-center">
                            <button type="submit" class="text-center btn btn-primary">@Messages("update")</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
